[2019-03-11 19:34] seglo opened #4 "Add white list of consumer groups"
Allow user to only report certain groups that match a list of regex.

[2019-03-11 19:38] seglo opened #5 "Interpolate for less variable consumer lag in time estimates in Kafka Lag Exporter"
Today Kafka Lag Exporter simply polls on a small interval and extrapolates lag based on two measurements from the past two intervals. This works reasonably well with a steady consumption pattern, but if consuming “flattens out” during one of those intervals than it can lead to very inflated lag in time estimates.

A solution is to interpolate based on a sliding window of measurements of the latest

[2019-03-11 19:39] seglo opened #6 "Implement backoff strategy for Kafka connections in Kafka Lag Exporter"
When installed in a fresh cluster Kafka Lag Exporter will fail if configured/discovered Kafka clusters cannot be reached.  Kafka Lag Exporter is configured to automatically discover Strimzi Kafka clusters by watching for Kafka CRD’s, but at first install it may detect the Kafka CRD before Kafka has finished coming online, and fail.  It won’t attempt to connect again.

The workaround right now is t

[2019-03-11 19:42] seglo opened #7 "Add TravisCI build"
See https://github.com/sbt/sbt-native-packager for an example.

* Include build badge
* Encode version into README

[2019-03-11 19:42] seglo opened #8 "Add Gitter channel"

[2019-03-11 19:45] seglo opened #9 "Factor out Spark Event Exporter into separate projects"
Split out spark event exporter into potentially ~~two~~one separate project

1. `spark-committer` - Only commits offsets to a defined `group.id`.  This complements kafka lag exporter, because when used with a Spark app we can report lag the same way we do any other app.
2. ~~`spark-event-exporter` - Simplified version of current exporter which only passes thru event data as Spark custom metrics, b

[2019-04-16 12:15] #6 closed, assigned to nobody

[2019-04-17 21:33] seglo opened #11 "Integration test harness"
Use Alpakka Kafka Testkit to perform end-to-end integration tests using an embedded Kafka.

[2019-04-18 13:40] #11 closed, assigned to nobody

[2019-04-22 18:38] seglo opened #13 "Use config map for Typesafe config"
Instead of using environment variables for all configuration options, create a config map with the Helm and substitute chart values there.  Mount config map into Kafka Lag Exporter pod.

[2019-04-22 18:59] seglo opened #14 "Update documentation"
* Interpolation implementation explanation

[2019-04-23 19:11] #5 closed, assigned to nobody

[2019-04-24 12:12] seglo opened #16 "Write introductory kafka-lag-exporter blog post"

[2019-04-25 16:48] #9 closed, assigned to nobody

[2019-04-26 21:21] seglo opened #17 "Open Source project"
Before going public

* Review by Justin

Confirm after making repo public

* Add CLA validation step
* Update Travis build status badge to use travis-ci.org
* Verify GitHub release badge works with latest version

[2019-05-01 19:04] #7 closed, assigned to nobody

[2019-05-01 19:44] #14 closed, assigned to nobody

[2019-05-01 19:44] #16 closed, assigned to nobody

[2019-05-10 14:01] #17 closed

[2019-05-10 14:01] #8 closed

[2019-05-20 15:29] julienmmm opened #22 "How to run / configure outside kubernetes/strimzi"
Hello,

I am trying to run the kafka-lag-exporter as a classic stand alone application.
To do that, I've built the project with "sbt clean dist" which has produced a zip file under target/universal. After unzipping I am able to start the exporter with "./bin/kafka-lag-exporter".
My problem is that it is not very clear for me how you can configure a static cluster definition, the documentation stat

[2019-05-21 15:45] seglo commented on #22
Hi Julien,

Thanks for trying out Kafka Lag Exporter.  The standalone run use case is indeed something I haven't spent time to document.  You can use the `reference.conf` to determine what configuration you can override in your `application.conf`.  For example, to setup several static clusters you might define:

[code]

Please share your experiences running the project in standalone mode.  I would

[2019-05-22 13:54] NeQuissimus commented on #22
I had this up and running pretty quickly like so:

[code]

You can then hit http://localhost:8000

[2019-05-22 13:59] NeQuissimus opened #24 "Select individual metrics"
I am looking to use this to build a [Kubernetes HPA](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/) based on consumer lag.

In order for this to be much easier, it would be nice if I could select a single specific metric.

If something like `http://localhost:8000/kafka_consumergroup_group_lag_seconds?cluster_name=dev&topic=high-volume-topic&group=consumer-group` return

[2019-05-22 14:50] seglo commented on #24
Thanks for your interest @NeQuissimus.  That's the exact sort of use case I was hoping to enable!

Kafka Lag Exporter was meant to work within the Prometheus ecosystem.  When its endpoint is scraped by a Prometheus server you can then query for the exact metrics you need with [PromQL](https://prometheus.io/docs/prometheus/latest/querying/basics/) (prometheus query language).  This project exposes

[2019-05-22 15:40] NeQuissimus commented on #24
I am planning to have my metrics delivered to DataDog, I am currently not really looking to change that.
Just trying to figure out the simplest possible solution to get the HPA experiment going :)

I found something like this may work :D

`curl -s http://localhost:8000/ | grep 'kafka_consumergroup_group_lag\{' | grep 'group="mygroup"' | awk '{print $2}' | grep '^[0-9]*.[0-9]*$' | sort -n | tail -1

[2019-05-22 16:30] seglo commented on #24
Got it.  That should do the trick for a quick experiment!  I don't have much experience with datadog, but it looks like the agent [supports prometheus endpoints too](https://www.datadoghq.com/blog/monitor-prometheus-metrics/), so that's another option.

You're welcome! It's still early days so if you have anything you'd like to see in the backlog LMK.  :)

[2019-05-23 12:04] aikoven opened #25 "Metrics are not reset after consumer restart"
In my app each consumer gets unique generated `client_id`. When I restart all consumers, Kafka assigns partitions to their new `client_id`s, but `kafka_consumergroup_group_lag` metrics for old `client_id`s remain in the output until I restart `kafka-lag-exporter`.

The graph below shows stacked values of `kafka_consumergroup_group_lag` for each `client_id` on the first start, after restart of cons

[2019-05-24 04:06] aikoven commented on #25
In this case, I would get a single series for the whole group. But I'd like to monitor the lag for each consumer in the group separately.

The problem is — even if a consumer is no longer assigned a partition, its metrics still show up.

[2019-05-24 15:38] seglo commented on #25
I see.  Yes, this is also a problem for old consumer groups that no longer exist.  When a metric is set for a particular set of labels it will remain on the prometheus endpoint until it's explicitly unset.  The fix would be for the exporter to either reset all metrics each reporting interval, or determine how to selectively unset metrics that are no longer valid according to information retrieved

[2019-05-26 19:16] julienmmm commented on #22
With this simple application.conf file:
`kafka-lag-exporter {
  port = 9107
  poll-interval = 30 seconds
  lookup-table-size = 60
  client-group-id = "kafkalagexporter"
  kafka-client-timeout = 10 seconds
  clusters = [
    {
       name = "kafkatst"
       bootstrap-brokers = "kafkatst01:9092,kafkatst02:9092,kafkatst03:9092"
    }
  ]
  watchers = {
    strimzi = "false"
  }
}

akka {
  loggers =

[2019-05-27 11:58] seglo commented on #22
This looks good @julienmmm.  The `reference.conf` serves as a place to define defaults when an `application.conf` is not provided and/or fallbacks when one is provided.  You can reduce your config to:

[code]

[2019-06-05 01:41] seglo commented on #24
@NeQuissimus I was poking around the Prometheus HTTP simple client and I noticed it does have a filtering mechanism (though I couldn't find any GitHub issue or documentation around it).  You can filter by some arbitrary metric name with the query param `name[]=metric_name`.

Ex)

[code]

[2019-06-05 01:54] #25 closed

[2019-06-05 03:43] NeQuissimus commented on #24
That is both weird and awesome :-) good find!

[2019-06-06 02:11] seglo commented on #24
Documented in #29

[2019-06-06 02:11] #24 closed

[2019-06-06 02:12] seglo commented on #22
Documented in #29

[2019-06-06 02:12] #22 closed

[2019-06-06 16:13] seglo commented on #25
@aikoven LMK if 0.4.1 addresses this problem for you!

[2019-06-14 08:02] abhishekjiitr opened #30 "Incorrect kafka_consumergroup_group_offset Metric"
All the _kafka_consumergroup_group_offset_ metrics for various consumer groups are all zero which leads to the lag metrics being insanely large (i.e. equal to the latest offsets), which is incorrect as the same metrics are shown correctly using `kafka-consumer-groups.sh`

Helm Chart used: kafka-lag-exporter-0.4.1
Kafka Version used: 1.1.0
Kafka is deployed on kubernetes, and is not a Strimzi Kafka

[2019-06-15 20:45] seglo commented on #30
Thanks for trying out the project @abhishekjiitr.  When Kafka Lag Exporter reports group offsets it will default to `0` for any group partitions where an offset is not provided.  I've seen this occur when a consumer group is created, but has had nothing committed to it.  For example, when offsets are managed by the user instead of being committed to Kafka, or when groups are just used for consumer

[2019-06-15 20:57] seglo commented on #4
An array of RegEx patterns to match polled consumer group topic partitions against.  If any of the patterns match then report that topics offsets.

When configuration is undefined or list is empty.  Report all topics.

### Use cases

Report all topics
[code]

Report only topics with the suffix `.xyzcorp-topics`.
[code]

[2019-06-19 12:48] azapps opened #31 "Support for arbitrary Kafka Config"
Hi,
I would like to be able to add arbitrary kafka configuration options to the clusters.
I think that would be easier and nicer to implement than explicitly defining a set of supported options.

Example (Support for SSL):

[code]

[2019-06-19 14:46] seglo commented on #31
@azapps Agreed.  I had similar thoughts as well.  Is this something you would like to contribute?  Otherwise I'll work on something over the next few weeks.

[2019-06-19 16:14] dadoeyad opened #32 "Wrong metrics"
Hey! Sorry to put this here. I know it might not be an issue but I didn't know where else to ask for help :)

First, thank you for the library and helm charts. It's the only one I saw out there to monitor lag, works with Grafana, and has helm charts.

I'm looking at the numbers in the dashboard and nothing makes sense to me. The lag is in hours. It seems that the lag in seconds is incremental. Any

[2019-06-19 18:00] azapps commented on #31
I don't think that I will have time in the near future but if that changes I will let you know such that we don't work in parallel on that ;)

[2019-06-19 18:22] seglo commented on #31
That's alright.  Ok, likewise I'll leave a comment here and ping you when I begin the work.

[2019-06-19 18:33] seglo commented on #32
Thanks for the report @dadoeyad.  This view looks alright to me.  I agree it can be confusing, I'll try to explain what I think is happening.

If the producers and consumers of a topic are in the following scenario:

1. The topic hasn't been produced to in awhile (longer than the maximum interpolation table size, 30 min by default)
2. Consumer groups are not actively consuming (their lag is not 0)

[2019-06-20 13:31] smlgbl commented on #30
I have the same issue, even though our topics are in used a lot. Other lag checkers (burrow, remora, command-line, and yahoo's kafka-manager) see correct numbers.

`kafka_consumergroup_group_offset{cluster_name="logging",group="inventorycrawler",topic="inventorycrawler",partition="9",member_host="/10.139.129.194",consumer_id="logstash-10-513ec4b2-0060-4159-bfea-0f6fe5fe307c",client_id="logstash-10

[2019-06-20 14:06] seglo commented on #30
@smlgbl I misunderstood the original problem.  That's indeed a regression bug.  Looking into it now.

[2019-06-20 14:54] smlgbl commented on #30
@seglo Thank you very much. I'd really like this to work - burrow and remora have proven unreliable...

[2019-06-20 15:01] abhishekjiitr commented on #30
Some sample metrics from the lag exporter (with topic & cluster name obfuscated):
[code]

[2019-06-20 21:07] #30 closed

[2019-06-20 21:24] seglo commented on #30
@abhishekjiitr @smlgbl Try `0.4.3` and let me know if it works for you.

[2019-06-21 08:44] smlgbl commented on #30
It's working better, but does not report the same lags as the other tools ... the green is the "correct" lag (all the other tools agree :)
![image](https://user-images.githubusercontent.com/2204677/59910101-81876600-9411-11e9-820f-b14d0e790a7a.png)

[2019-06-21 14:16] abhishekjiitr commented on #30
Yes, it is much better than the last version, the metrics look correct now
Thanks @seglo!

[2019-06-21 14:43] seglo commented on #30
@smlgbl Thanks for checking.  The peaks in the chart you're showing are from kafka-lag-exporter?  Can you confirm it's the `kafka_consumergroup_group_lag` metric?   Can you confirm that it's not being aggregated in any way (i.e. max lag from a set of partitions for a topic)?

[2019-07-05 07:43] #32 closed

[2019-07-17 23:46] dpoldrugo opened #34 "Support for custom / additional labels"
It would be great to have a possibility to specify custom / additional labels which could be specified per cluster.

Example:

[code]

And this should add to all metrics for this cluster those two labels with given values.

This would simplify the Prometheus job config. Because now Prometheus [relabelling tricks](https://medium.com/quiq-blog/prometheus-relabeling-tricks-6ae62c56cbda) must be appli

[2019-07-18 15:57] seglo commented on #34
Thanks for trying the project, @dpoldrugo.  I can see how that would be useful.  I'll add it to the backlog.  Let me know if this is something you would consider contributing.

[2019-07-22 14:30] dpoldrugo opened #36 "Kafka lag metric not updated when a consumer group is not active"
Hi!
This is a big problem, because you basically don't have info about lag if all your consumer instances (clients) become unavailable.

How to reproduce:
1. Start a Consumer group with two instances (two clients)
2. Check lag metric
3. After some time stop both instances
4. Check lag metric and observe that after the point when both instances were stopped, there are no more data points

[2019-07-22 14:57] dpoldrugo opened #37 "Incorrect lag when a consumer group is subscribed to topics with no traffic"
If a CG consumes from multiple topics, and if over time some of these topics don't have traffic produced to them - the calculated lag will become huge:
![lag_no_traffic](https://user-images.githubusercontent.com/1514332/61641549-003d2080-aca8-11e9-8106-2d0734d41a1d.png)

This is a big problem, because if you monitor lag on the group level, you will have wrong info about lag - about lag which basic

[2019-07-22 15:26] dpoldrugo opened #38 "Wrong lag metrics when consumer groups have similar names"
If you have a Consumer group which is called "clickhouse-default-push_user_events_queue_fr5" and after some time (few hours for example) you add a new CG with a similar name: "test-clickhouse-default-push_user_events_queue_fr5", the information about group lag for the first group will be wrong - will actually show lag info for the second - similarly named group.

Here are some screenshots...

Here

[2019-07-23 19:22] seglo commented on #36
Hi @dpoldrugo.  Thanks for using kafka-lag-exporter.  Currently the project will only export metrics for consumer lag that's reported by the cache in Consumer Group coordinator itself, similar to how the `kafka-consumer-group.sh` script released with Kafka works.  In order to show inactive groups kafka-lag-exporter would have to consume the `__consumer_offsets` table itself.  This could be done, b

[2019-07-24 10:31] pimpelsang opened #40 "jaas configuration logged out to console"
With default info log level, the provided jaas conf is logged out in plaintext

[code]

[2019-07-24 10:47] pimpelsang opened #41 ""Invalid negative offset" java.lang.IllegalArgumentException"
Couldn't find the exact offset by command line tool

[code]

[2019-07-25 11:10] pimpelsang opened #42 "list out permissions"
Which ACL permissions kafka-lag-exporter kafka account requires?

[2019-07-26 23:01] seglo commented on #40
Thanks for the report.  I'll address this shortly.

[2019-07-26 23:11] seglo commented on #37
Thanks @dpoldrugo.  If I understand correctly, you're saying when a topic has a short retention and the topic hasn't been produced in awhile (so that some segments are evicted) you observe a strange anomaly with reported lag.  The group you're monitoring has no lag up until this point?

Also, can you clarify what you mean with this statement:

By "monitoring lag on the group level" are you summing

[2019-07-26 23:17] seglo commented on #38
Thanks for the analysis @dpoldrugo.  I think this may be caused by the use of the RegEx in your PromQL.  In both the queries to kafka-lag-exporter metrics you are using the `=~` matching operator on the group label.

[2019-07-26 23:20] seglo commented on #41
Thanks for reporting this @pimpelsang.  I'll look into this shortly.

[2019-07-29 08:11] pimpelsang commented on #42
answering myself, whoever needs it in future.

It needs DESCRIBE on group and cluster level. Like this:
`kafka-acls --add --allow-principal User:kafka-lag-exporter --operation DESCRIBE --group '*' --cluster`

[2019-07-29 12:36] seglo commented on #42
Thanks @pimpelsang .  I'll add this to the docs in the next release.

[2019-08-02 06:49] pimpelsang opened #43 "Support for turning off some metrics"
Problem: The amount of data exposed to prometheus grows very large when cluster contains a lot topics (100+) multiplied by partitions count (3...32).

I'd like to turn off some verbose metrics, but keep the ones that show group max. Right now did commented it out from code, but configuration option would rock (I removed LatestOffsetMetric, LastGroupOffsetMetric, TimeLagMetric)

[2019-08-02 09:50] pimpelsang opened #44 "not active consumer groups last value still reported under MAX lag/time"
When consumer group started consumed and left, the offset

kafka-consumer-groups <- shows group in list, but when described
_Consumer group 'name' has no active members._

kafka_consumergroup_group_max_lag
kafka_consumergroup_group_max_lag_seconds

Both show last seen value, which can be huge.

But there is nothing for this group under, etc per partition metrics.
kafka_consumergroup_group_lag

See

[2019-08-02 11:00] #44 closed

[2019-08-02 11:00] pimpelsang commented on #44
Actually they just take longer time

[2019-08-02 12:56] pimpelsang opened #45 "consumers without stored offsets in partition reported wrongly as lag"
exporter and kafka-consumer-groups command line tools give different answers on lag.

When topic is not used anymore, but still exists and is subscribed to by consumer (kafka mirror maker, no events from that).

It is reported by kafka-consumer-groups command line tool like following:
CURRENT-OFFSET=-
LOG-END-OFFSET=1234234
LAG=-

But with this exporter reports it reported as super high consumer l

[2019-08-02 13:00] pimpelsang commented on #45
duplicate of https://github.com/lightbend/kafka-lag-exporter/issues/37

[2019-08-03 18:06] seglo commented on #43
Yes, it can generate a fair amount of metrics, this would be a good improvement.  Another way to reduce them would be to have a white list for topics to report (#4).

If you're brave enough to make your own build maybe you would be interested in making a PR? :)

[2019-08-03 18:14] seglo commented on #45
That's interesting. I think this is happening because kafka-lag-exporter substitutes a default value of `0` when an offset cannot be found for a partition, and then the lag calculation will naively produce this false reading.

I guess the closest implementation to match what `kafka-consumer-groups.sh` returns is to report the group offset and lag as `NaN` (not a number).  What do you think?

[2019-08-05 15:01] pimpelsang commented on #45
Yes, NaN if Prometheus BV accepts it

[2019-08-06 00:49] seglo opened #46 "Metadata poll timer metric"
Add a metric to kafka-lag-exporter that reports how long it takes to complete a poll of all information from all consumer groups.

[2019-08-06 01:09] #13 closed

[2019-08-07 01:21] #40 closed

[2019-08-07 01:21] #31 closed

[2019-08-12 19:28] analytically opened #49 "Add /health endpoint"
Currently / and /metrics return the full metrics. It'd be handy if there was a simple /health endpoint returning 200 OK to indicate service availability instead of returning metrics at all time.

[2019-08-14 01:59] #37 closed

[2019-08-14 02:12] seglo opened #51 "Release automation replaces local chart ref with release chart ref"
In the "Building your own Helm Chart" section of the `README.md` the release automation step that updates the `README.md` will replace the local reference to the chart to the release version.

[2019-08-14 02:21] seglo commented on #37
@dpoldrugo Please let me know if this fixes the issue in the latest release `0.5.0`

[2019-08-14 02:21] seglo commented on #40
@pimpelsang Please let me know if this fixes the issue in the latest release `0.5.0`

[2019-08-14 02:22] seglo commented on #45
@pimpelsang Please let me know if this fixes the issue in the latest release `0.5.0`

[2019-08-14 02:22] #45 closed

[2019-08-14 02:23] seglo commented on #36
@dpoldrugo I may have misunderstood this original issue.  Please let me know if this fixes the issue in the latest release `0.5.0`

[2019-08-14 02:23] #36 closed

[2019-08-14 02:24] seglo commented on #38
I cannot reproduce this issue.

[2019-08-14 02:24] #38 closed

[2019-08-14 02:25] seglo commented on #49
Yes, it's an expensive health check when there are lots of metrics to return.  I'll give this some thought.  Thanks for creating the issue.

[2019-08-14 14:51] seglo opened #52 "Commit helm chart with released version before tagging release"
The current release automation produces the GitHub release artifact correctly, but will tag the repo after helm chart versions are already incremented.

[2019-08-14 15:58] seglo opened #53 "Omit service account generation in Helm Chart when not using Strimzi auto detection"
A service account is only required when using the Strimzi watcher so that a ClusterRole can be bound to it.  When the Strimzi watch is disabled, do not generate a service account and remove the service account binding in the Deployment spec.

[2019-08-14 16:14] seglo commented on #41
@pimpelsang I'm not sure exactly how this issue occurred, but let me know if you can recreate it, or still see it after upgrading to `0.5.0`.

[2019-08-21 09:56] pimpelsang commented on #45
Confirmed that lag is now reported correctly!

[2019-08-21 11:38] pimpelsang commented on #41
seems to be fixed. Haven't seen crash so far

[2019-08-21 11:38] #41 closed

[2019-08-31 15:14] NeQuissimus opened #55 "Weirdness with subset of topics"
OK, this is a weird one and I thought at first this was a dupe of #37 or #45 but I tried using `0.5.0` and this is still an issue for me.

Here is the situation:

- Kafka 2.1.0 cluster with 3 brokers
- kafka-lag-exporter `v0.5.0`

Some data:
[code]

Metrics with kafka-lag-exporter v0.4.0:
[code]

With v0.4.1:

[code]

With v0.4.2+ (incl. v0.5.0):

[code]

I cross-referenced the numbers using [kafk

[2019-08-31 20:50] seglo commented on #55
@NeQuissimus That's disconcerting.  Thanks for the thorough report.  Obviously something is going wrong with the offset lag calculation.  Would you mind turning on DEBUG logging (`--set logLevel=DEBUG` if installed with Helm) and send me a log snippet of the information retrieved by Kafka that includes this topic and consumer group?  The log line prefix is `Received Offsets Snapshot` and it should

[2019-09-01 13:41] NeQuissimus commented on #55
Here we go:

- I have 1776 consumer groups and counting
- I am removing topics/groups to make this report a little more concise

[code]

The value for group1-topic1-partition0 is wrong. It is showing the partition's low mark, not the current offset of the consumer group.

This is what KafkaView reports:

`group1-topic1`
![2019-09-01-093730_538x170_scrot](https://user-images.githubusercontent.com/6

[2019-09-01 15:59] NeQuissimus commented on #55
FWIW, I updated the Kafka cluster to 2.3.0 but there is no difference in the reported stats.

[2019-09-01 23:31] NeQuissimus commented on #55
Here is some more information:

[code]

This group only reads topic1.
So, I don't understand where the offset comes from.

Grabbing an `AdminClient` in Ammonite:

[code]

[2019-09-01 23:35] seglo commented on #55
EDIT: I was writing this comment as you posted your last update.  Are you saying that when you used the `AdminClient` directly it returned the right committed offset?

I dug into the Kafka internals and at first glance I don't see any reason why the low watermark should be returned.  I looked at how kafka-view retrieves committed offsets and learned that it's processing them directly from the inte

[2019-09-02 12:49] NeQuissimus commented on #55
Yes, the `AdminClient` is returning what I expected. (`OffsetAndMetadata{offset=543138, leaderEpoch=null, metadata=''}`)
See my second curl: It returns `401482.0` in kafka-lag-exporter. This is *not* what the `AdminClient` returns me directly.

Here is the shell output:

[code]

And I am just double-checking my kafka-lag-exporter:

[code]

[2019-09-02 13:52] seglo commented on #55
I'm trying to come up with more test cases to try and recreate what you're seeing.  Do you have more than 1 group reading topic 1?

[2019-09-02 14:04] seglo commented on #55
I think I reproduced the bug.  For some reason the implementation is re-using committed offsets for the first group it sees for a particular topic partition in a group subscription.  I'm not sure why that's happening because I key by Group, Topic, and Partition.  Looking into it now.

[2019-09-02 19:49] seglo commented on #55
@NeQuissimus I've released `0.5.1`.  LMK if this resolves the problem.

[2019-09-02 19:51] seglo commented on #52
Resolved in release `0.5.1`

[2019-09-02 19:51] #52 closed

[2019-09-02 19:51] seglo commented on #51
Resolved in release `0.5.1`

[2019-09-02 19:51] #51 closed

[2019-09-02 23:15] NeQuissimus commented on #55
I think that did it. I've done some spot checks and things seem to make sense now!
I'm going to read through the commit tomorrow. Curious what needed to be changed...
Anyways, thank you for the quick fix!

[2019-09-02 23:15] #55 closed

[2019-09-03 16:52] seglo commented on #55
Sure, it's a bit of a mess right now, but I'm working on cleaning up the group offsets retrieval.

[2019-09-04 12:05] brunodomenici opened #57 "Parser error with SASL authentication with special charcters"
Hi,

I'm trying to configure Kafka-lag-exporter using Helm with a Kafka Broker using SASL PLAIN authentication.
My password has + character and I got this error:

[code]

My values.yaml:

[code]
I've already tried to escape both " and + with \, but I got credential error.

Any ideas?
Thanks a lot!

[2019-09-04 14:42] seglo commented on #57
Hi @brunodomenici .  Thanks for trying kafka-lag-exporter.  I think this is a bug with the helm chart not escaping strings in the configmap.  I have a fix in mind, but can you try manually editing the configmap after install to escape the required string, then restart the kafka-lag-exporter pod?  This will help me verify my patch, and get you running in the meantime.

For example, edit the config

[2019-09-04 15:31] brunodomenici commented on #57
Hi @seglo, your workaround worked!
Thanks a lot!

[2019-09-04 15:38] seglo commented on #57
@brunodomenici Great!  I'll close this issue when I cut a new release with the fix.

[2019-09-09 03:43] anbarasantr commented on #34
I would like to pick this up @seglo

[2019-09-09 11:53] seglo commented on #34
@anbarasantr Excellent.  Thanks!

[2019-09-10 03:07] khorshuheng commented on #43
@seglo Hi, i would be interested in working on this issue.

[2019-09-10 11:47] seglo commented on #43
@khorshuheng Great.  I've assigned it to you.  Let me know if you need any assistance.

[2019-09-14 06:29] anbarasantr commented on #49
@seglo I would like to work on this. Can you assign to me ?

[2019-09-14 13:22] seglo commented on #49
@anbarasantr I've assigned it to you.  Thanks for volunteering to work on it!

[2019-09-14 16:10] #34 closed

[2019-09-14 16:13] seglo commented on #49
Another idea is to write a file to the container and use a shell command to check for its presence.  Then we wouldn't need to add a library to create an endpoint.

[2019-09-14 16:13] #57 closed

[2019-09-14 16:21] anbarasantr commented on #49
@seglo I thought that the health end point will be useful to configure liveness and readiness probes for Containers. So should not we return success only when the prometheus client is exposing metrics and application is polling from Kafka successfully?

[2019-09-14 16:37] seglo commented on #49
@anbarasantr Yes, that's the reason for the health check.  Right now the check will return a full scrape of all metrics, which is not ideal.  I would like to avoid adding another HTTP library and endpoint to the project, or adding too much logic to assert "healthiness".

I think touching a file every poll interval, and updating the health checks to assert that the file exists, or has been updated

[2019-09-14 16:49] anbarasantr commented on #49
@seglo Thanks for the suggestion. I personally like the second idea as it gives more visibility. I would like to pick #46 first which unblocks the /health endpoint task.

[2019-09-14 18:03] seglo commented on #49
@anbarasantr Ok, great.  I'll assign that issue to you as well.  Thanks.

[2019-09-14 18:08] seglo commented on #46
@anbarasantr GitHub will only let me assign this issue to you if you make a comment on it.

[2019-09-14 18:28] anbarasantr commented on #46
@seglo As discussed, I will complete this first to unblock #49.

[2019-09-16 02:43] khorshuheng commented on #53
May I pick this up?

[2019-09-16 09:28] efrikin commented on #36
Hi @seglo.
I have the same problem if stopped consumer group.
Ex.
I have group consumers which read topic.
![image](https://user-images.githubusercontent.com/29086820/64946632-812a2a00-d89d-11e9-8caf-bef92883cc15.png)
When I stop read topic I see on the chart empty data(no data)
When I run consumer group lag and I see data on chart
This is very critical becouse in this is time consumer lag not mon

[2019-09-16 09:37] efrikin opened #63 "Metrics not updated when a consumer group is not active"
Hi @seglo.
I have the same problem => #36
Ex.
I have group consumers which read topic.
![image](https://user-images.githubusercontent.com/29086820/64947508-5c36b680-d89f-11e9-85ce-819a8f263d7b.png)
When I stop read topic I see on the chart empty data(no data)
When I run consumer group lag and I see data on chart
This is very critical becouse in this is time consumer lag not monitoring
any idea?
Ve

[2019-09-16 13:10] seglo commented on #53
@khorshuheng Certainly.

For this issue I was thinking that we could make the service account optional during install.  It's required when Strimzi is installed, so that we may assign it the appropriate roles, but it may also be useful in non-Strimzi installs if users don't want to use the `default` service account of a namespace.

We could add helm configuration with a default state of:

[code]

F

[2019-09-16 13:11] seglo commented on #53
Also, if you (or any of your colleagues) have any of your own ideas for the project please feel free to create an issue with a design for discussion.

[2019-09-16 15:59] seglo commented on #63
@efrikin When you say you stop reading do you mean that as soon as the consumer group shuts down the metrics are no longer reported?

As I described #36, we only report data for groups that are returned by the Kafka `AdminClient`.  Every poll interval we compare the groups returned from the last interval and this interval and then unregister the metrics for the groups that no longer exists.  This

[2019-09-17 06:00] efrikin commented on #63
@seglo Thank a lot the answer

Yes of course. When last consumer leaving consumer group, the metrics are no longer reported and I see empty chart (prometheus console outputs no data)

My case is related to a production incident, when consumer group suddenly got stuck and we could not spot the ever-growing lag for this consumer group for several hours.

I think this behavior should be implemented a

[2019-09-17 12:32] NeQuissimus commented on #43
I think this can be closed now?

[2019-09-17 12:43] seglo commented on #43
Yes.  Thank you.

[2019-09-17 12:43] #43 closed

[2019-09-17 15:02] seglo commented on #63
@efrikin Thanks for the reply.

I see.  I thought there was a longer grace period for the consumer group to stay active after the last member has left.

Yes.  We could add a feature that retains group metadata for a configured interval of time after it's left the cache of the Consumer Group coordinator.  If the group no longer exists in the next poll we can continue calculating the lag based on th

[2019-09-18 05:44] efrikin commented on #63
@seglo Thanks for the reply.

This is good news.

For values by default  30 minutes a great starting.

This is no problem. If the exporter is restarted, we will see it via other metrics.

Would it be possible to include it in next release? I'll really appreciate that! Also, could you please let me know the date of the next release?

Thanks a lot!

[2019-09-18 12:31] seglo commented on #63
@efrikin Thanks for clarifying.  I will issue a release soon.  There are several PRs in progress.  I'll create a new issue for this one and work on it soon, unless someone else volunteers to do it first.

[2019-09-18 12:40] seglo opened #66 "Continue to calculate lag for inactive groups for a configurable timespan"
Inspired by discussion in #63

Add a feature that continues to calculate consumer group lag for a group after it's no longer active.  Today, we will immediately evict metrics for groups that no longer exist.  We detect that a group has been removed by comparing the list of groups returned to the list returned in the last poll.  Instead of removing metrics immediately, when we discover that groups

[2019-09-19 04:07] efrikin commented on #63
@seglo Thank a lot. I'll really appreciate that!

[2019-09-19 14:35] seglo commented on #53
Implemented in #64

[2019-09-19 14:35] #53 closed

[2019-09-21 02:50] graphex opened #67 "Capture earliest available offset for topics"
Sometimes the best metric for alerting purposes is the percent of the currently available offset range that the lag represents, i.e. `OffsetLagMetric / (LatestOffsetMetric - EarliestOffsetMetric)`. In order to have this available, capture of the earliest offsets for a topic partition needs to be added. In the future, this could also be used to report the estimated retention period for a topic, so

[2019-09-21 14:48] graphex commented on #66
Another potential direction here might be to have a flag for the collection of (earliest and) latest metrics for all topics, regardless of consumer state. This would make alerting for unconsumed topics/partitions possible, which is a good thing to do to prevent data loss.

[2019-09-21 14:57] graphex commented on #4
A blacklist in addition to the whitelist would also be useful for ignoring console consumers, for example. I might make another issue for black+whitelists for topic names, which tends to be useful when using kafka streams.

[2019-09-21 20:04] graphex opened #69 "Add blacklist of consumer groups"
As mentioned in #4 a consumer group name blacklist in addition to the whitelist would also be useful for ignoring console consumers, for example.

[2019-09-21 20:06] graphex opened #70 "Add blacklist of topic names"
Add whitelist and blacklist for selecting which **topics** are included in metrics collection.

[2019-09-21 20:11] graphex opened #71 "Add option to always collect metrics for all topics"
As mentioned in #66, instead of only collecting topic metrics for topic partitions with an active consumer, sometimes it is important to collect metrics for topics without an active consumer, so that unconsumed partition alerts can be generated.

[2019-09-21 22:40] seglo commented on #67
@graphex That's an interesting deriative metric.  If your lag is close to your available offset range that would have obvious consequences for message delivery guarantees.  It would be interesting to see how it could be used to tune retention period for a topic automatically.  WDYT of reporting the derivative metric (`OffsetLagMetric / (LatestOffsetMetric - EarliestOffsetMetric)`) versus just the

[2019-09-21 22:46] seglo commented on #66
That would be useful, but based on observations from #63 it seems that inactive groups aren't available when using `AdminClient`.  It may be worth investigating this more, it's possible the group metadata may still be accessible, but it's just not returned when getting a list of consumer groups.  We use the list of consumer groups to determine what groups to return metadata for.

[2019-09-21 22:51] seglo commented on #4
That's true.  I'm sort of on the fence vs white or black lists.  Could a whitelist with a regex satisfy the use case you describe?

[2019-09-21 22:59] seglo commented on #71
Good idea.

[2019-09-21 23:10] seglo commented on #70
A PR for a whitelist of topic names was recently merged in #65.

[2019-09-21 23:16] graphex commented on #67
I think the earliest offset is useful on its own for graph display and such. It seems like #71 is the most critical next step, but after getting that, I think adding the a few derivative metrics makes sense. I'll outline those in another issue.

[2019-09-21 23:37] graphex opened #72 "Additional Derivative Metrics"
Knowing the earliest and latest available offsets allows for several derivative metrics, which would be relatively easy to calculate, and certainly easier to do here than query side. Here are the ones I can think of so far:

- `kafka_partition_volume  = kafka_partition_latest_offset - kafka_partition_earliest_offset`
- `kafka_consumergroup_buffer = kafka_consumergroup_group_offset - kafka_partitio

[2019-09-22 21:36] seglo opened #74 "Setup MicroK8s test harness"
Setup microk8s on the travis build so the helm chart can be deployed as part of a full Kubernetes integration test.

[2019-09-22 23:49] seglo commented on #4
@gholickar Hi George.  I've implemented this in `0.5.2`.  Check it out and LMK!

[2019-09-22 23:49] #4 closed

[2019-09-23 00:00] seglo commented on #74
WIP branch https://github.com/lightbend/kafka-lag-exporter/tree/seglo/microk8s-testing

[2019-09-23 14:39] seglo commented on #69
I've thought about this some more and I agree that exposing a blacklist for consumer groups (and all the other features that currently have whitelists: topics, metrics) would be useful.

[2019-09-23 14:41] seglo commented on #70
I've repurposed this issue to implement a topic blacklist.

[2019-09-23 14:42] seglo opened #76 "Add blacklist of metric names"
The inverse of the whitelist for metric names.

[2019-09-24 08:01] abhishekjiitr opened #81 "Can't Pull Recent Docker Images"
I can't seem to docker pull the recent versions of docker images for kafka-lag-exporter. v > 0.5.2

Checking the repo on DockerHub shows only releases upto 0.5.2, and only some of them have the SNAPSHOT images: https://hub.docker.com/r/lightbend/kafka-lag-exporter/tags

I couldn't find a Dockerfile for the same in this repo.

Can we set up some automated docker build & push for this?

[2019-09-24 12:58] seglo commented on #81
As you noted in #80 I accidentally pushed a local docker repo coordinate.  Part of the release process is to substitute the docker repo and username if `DOCKER_REPOSITORY` and `DOCKER_USERNAME` envvars are set.  This is to make it easier to do local testing.  Unfortunately, I had these env vars set in the session I made the release from.  I'll create an issue to fix this, but ultimately I would li

[2019-09-24 13:02] seglo opened #83 "Ensure that docker coordinates are correct during release"
Override docker overrides during `sbt release` so that we don't accidentally release testing docker settings. Reported in #81, #80.

[code]

[2019-09-24 13:03] seglo opened #84 "Automate full K8s stack testing"
Add full integration test with Kubernetes to travis build.  See #74 for preliminary commands in setting up microk8s env.

[2019-09-24 13:04] #81 closed

[2019-09-26 02:54] drrzmr commented on #69
@graphex @seglo I will do the job, would you assign to me?

[2019-09-26 02:54] drrzmr commented on #76
@seglo I will do the job, would you assign to me?

[2019-09-26 02:55] drrzmr commented on #70
@graphex @seglo I will do the job, would you assign to me?

[2019-09-26 13:03] seglo commented on #69
@drrzmr Done.  Thanks for volunteering!

[2019-10-07 20:58] #67 closed

[2019-10-18 16:04] dylanmei opened #92 "Add a sum of lag per consumer group"
It is convenient to produce a sum of the lag per topic/group. This is briefly mentioned in #72.

In my case we have clusters with many hundreds of consumer groups. While we scrape the granular data for our Prometheus instances, we also run a side-car DataDog agent to collect metrics from exporters and push important telemetry into that system. There is extra cost associated with the cardinality of

[2019-10-18 16:12] seglo commented on #92
Yes, I agree that the sum of lag being more useful than the max lag for monitoring standard operations of a streaming platform to see how far you are in aggregate.  Max lag is good for spotting hot partitions quickly.  Using a max is compatible with the lag in seconds estimate too, but a sum wouldn't make sense.

Is this something you would be interested in contributing?

[2019-10-30 14:35] rahulchak opened #98 "Error - Supervisor RestartSupervisor saw failure: A failure occurred while retrieving offsets. Shutting down. java.lang.Exception:"
We are using Confluent Kafka secure cluster and I provided in the application.conf the section admin-client-properties with ssl key & trust store file locations and passwords, however when it starts all the ssl parameters are null, seems like it is not reading the admin-client-properties section.

[2019-10-30 15:22] seglo commented on #98
@rahulchak Thanks for using Kafka lag exporter.  Can you please confirm what version you're using and attach a snippet of the log with the exception stack trace?

[2019-10-30 16:52] rahulchak commented on #98
Thank you for your quick response. I believe the version is - 0.5.5 and i have attached the log here. I am not sure how to get the exception stack trace though. Below is the contents of my conf file

*********************conf file*****************************
kafka-lag-exporter {
  port = 9080
  kafka-client-timeout = 20
  clusters = [
    {
      name = "stormcloud-devtest"
      bootstrap-broker

[2019-11-06 17:38] gamer22026 opened #99 "Strimzi watcher fails if cluster name is the same"
We have multiple Strimzi clusters in different namespaces, but all have the same cluster name. The Strimzi watcher fails in this case because only the cluster name is used to determine uniqueness. Need to add a differentiator, perhaps $clustername-$namespace?

[2019-11-07 15:45] seglo commented on #99
Thanks for raising the issue.  This would be a relatively minor contribution if it's something you're up for it, otherwise I'll need some time to get to it.

[2019-11-07 16:37] kraftwerk2020 opened #100 "Prometheus error on second manually configured cluster"
When I add a second manually configured cluster initializing the prometheus exporter fails with this error:

```java.lang.IllegalArgumentException: Collector already registered that provides name: kafka_partition_latest_offset```

[2019-11-11 03:09] dylanmei commented on #92
Closed via #93

[2019-11-11 03:09] #92 closed

[2019-11-11 10:47] #70 closed

[2019-11-13 20:37] analytically commented on #49
Can this issue get some attentions? We use the lag-exporter with Consul which is sensitive to health check size (snapshots) and thus this introduces unnecessary load for checking health.

[2019-11-14 06:21] anbarasantr commented on #49
@analytically sure. I will raise a pull request in few days.

[2019-11-14 08:42] seglo commented on #49
Thanks @anbarasantr !

[2019-11-18 11:16] GrigorievNick opened #101 "Question: Does kafka-lag-exporter support HA? With what kafka version kafka-lag-exporter compatible?"
Hi,
I found that I work on very similar stuff.
So I wanna use kafka-lag-exporter. But I have a few questions.

- Does kafka-lag-exporter support HA?
  - in HA mode kafka-lag-exporter, do every instance will send the same metrics?
- With what kafka version kafka-lag-exporter compatible?
- Does it possible to plug Reporters? Or only Prometheus supported?

[2019-11-18 14:59] seglo commented on #101
Hi @GrigorievNick .  Thanks for your interest in the project

The Helm installation is hardcoded to only run one instance at a time.  I suppose you could run more than one instance, but since it has a high cardinality you will be reproducing a lot of metrics.  You could consider it HA in the same way any Kubernetes Deployment is HA; if a pod fails the Kubernetes will attempt to start it again imme

[2019-11-22 07:18] abhishekjiitr opened #103 "Latest Images Not Present on DockerHub"
The latest helm chart referencing image: _lightbend/kafka-lag-exporter:0.5.6-SNAPSHOT_, doesn't seem to be able to pull the image.

I checked on DockerHub, and only images upto tag 0.5.5 seem to be available: https://hub.docker.com/r/lightbend/kafka-lag-exporter/tags

Is the CI/CD to push docker images working as expected @seglo ?

[2019-11-22 07:32] abhishekjiitr opened #104 "Document the working of the lag exporter"
Just wanted to know how exactly the code works. Does the exporter monitor the __consumer_offsets topic in kafka or some other mechanism. Maybe we can document this somewhere?

This is part of a bigger question, like if the Kafka is using authentication what permissions (over which topics) the user being used by the exporter should have permissions on?

[2019-11-23 01:18] seglo commented on #103
@abhishekjiitr Are you referring to the unpackaged helm chart in master?  This is expected as part of the release.  If you want to deploy the `0.5.5` chart from unpackaged source, you can browse to the `v0.5.5` tag https://github.com/lightbend/kafka-lag-exporter/tree/v0.5.5 .

Usually, if you're deploying the chart this way you would override the location of the docker image to a local repo, or yo

[2019-11-25 06:35] abhishekjiitr commented on #103
Got it @seglo , thanks!

[2019-11-25 06:35] #103 closed

[2019-11-25 06:40] abhishekjiitr commented on #104
The exporter by default is able to discover the strimzi kafka running on port 9092 and exposes the metrics of topics exposed without TLS auth, I wanted to ask how to configure it to also expose topics which require TLS Auth on port 9094 @seglo

[2019-11-25 16:48] henhiskan opened #106 "Future.filter predicate is not satisfied"
I installed v0.5.5 from helm, but it is not working, getting the `Supervisor RestartSupervisor saw failure: A failure occurred while retrieving offsets`  error message, same from https://github.com/lightbend/kafka-lag-exporter/issues/98 but  different cause :

`Caused by: java.util.NoSuchElementException: Future.filter predicate is not satisfied.
`
This is how Installed the helm

`helm install htt

[2019-11-25 18:10] seglo commented on #104
Kafka Lag Exporter uses a combination of the `KafkaConsumer` and `AdminClient` from the Java `kafka-clients` dependency to retrieve its metadata.

If you're using static configuration then you need to make sure you set `consumer-properties` and `admin-client-properties` with the same connection info.  Using Strimzi discovery, AFAIK it's not currently possible to automatically discover and connect

[2019-11-25 18:47] seglo commented on #106
Thanks for reporting.  This is a little tricky to troubleshoot because it's not clear from the stack trace what user code is associated with the exception.  I wonder if it's from something caused by the `Future` wrangling in the `ConsumerGroupCollector`, `Collect` handler.

Can you set Kafka DEBUG logging when you install the chart and include the log?  The helm config is `kafkaLogLevel`

https://

[2019-11-25 20:05] henhiskan commented on #106
Got a bunch of FENCED_LEADER_EPOCH failures right before AdminClient start closing the connection.

2019-11-25 19:46:11,607 DEBUG o.a.k.c.consumer.internals.Fetcher  - [Consumer clientId=consumer-1, groupId=kafkalagexporter] Sending ListOffsetRequest (type=ListOffsetRequest, replicaId=-1, partitionTimestamps={p999105.analytic-fail-faust-fail-groupby-5={timestamp: -1, maxNumOffsets: 1, currentLeade

[2019-11-26 06:14] abhishekjiitr commented on #104
Thanks @seglo , but I couldn't get the metrics for the authenticated topics, the same authentication info worked for me using https://github.com/danielqsj/kafka_exporter though

[2019-11-26 06:14] #104 closed

[2019-12-02 01:29] helloyeops opened #107 "I got an error with "null, shutting down JVM since 'akka.jvm-exit-on-fatal-error' is enabled for ActorSystem[kafka-lag-exporter]"."
Hi,

I got an error with "null, shutting down JVM since 'akka.jvm-exit-on-fatal-error' is enabled for ActorSystem[kafka-lag-exporter]".
Then, docker container was shutdown.

The error log is as below.

2019-11-29 12:56:24,281 INFO  c.l.k.ConsumerGroupCollector$ akka://kafka-lag-exporter/user/consumer-group-collector-kafka_stream - Reporting offsets
Uncaught error from thread [kafka-lag-exporter-ak

[2019-12-02 16:12] seglo commented on #107
Is there any more to the log?  I don't see the Kafka Lag Exporter call site in the error stack traces.

[2019-12-02 16:17] #101 closed

[2019-12-02 16:18] seglo commented on #100
Apologies for the late response.  Did you give the second cluster the same name?  They must be unique.

[2019-12-13 09:35] josepplaltg opened #109 "The exposed metrics have a ',' at the end of the json just before the closing '}'"
After trying multiple configurations I didn't success to get rid of the last ',' in the metric outputs, generating errors on the prometheus scraping side.

kafka_consumergroup_group_lag{location="ny",zone="us-east",cluster_name="kstg",group="connect-reverse-indexer",topic="event-valid-keyword_was_updated",partition="2",member_host="/10.11.15.182",consumer_id="consumer-411-50f5b87b-f7a0-404d-9ecb-f

[2019-12-13 20:34] ccotar commented on #98
Having a similar error, but connected to Cloud Karafka from our EKS through VPC:

Version: 0.5.5

Stacktrace:
[code]

[2019-12-15 15:52] arthurh4 opened #110 "Kafka consumer offsets not working after broker restart"
Hello,

I'm getting this strange behavior recently that when we restart a broker the kafka lag exporter stops pulling consumer offset correctly.

For example we had the following crash during a restart:
`2019-12-13 21:53:58,784 ERROR c.l.k.ConsumerGroupCollector$ akka://kafka-lag-exporter/user/consumer-group-collector-nycp-main - Supervisor RestartSupervisor saw failure: A failure occurred while r

[2019-12-18 11:25] zhoulouzi commented on #98
same error with kafka version 1.0.1

[2019-12-18 14:21] seglo commented on #98
@rahulchak @ccotar What version of Kafka (or Confluent Platform Kafka) clusters are you connecting to?  I've only tested Kafka Lag Exporter with a limited number of broker versions, all of which are > 2.0.0.

[2019-12-18 16:41] ccotar commented on #98
@seglo my issue was my own fault, somehow had the wrong cluster IP during help upgrade.  My bad. 👍

[2019-12-18 16:44] seglo commented on #98
@ccotar I'm glad you got it resolved.  Thanks for following up.

[2020-01-07 19:32] rkrage opened #111 "Lag reported as NaN for low volume topics"
Not sure if this is expected behavior, but I've observed these `NaN` stats when a topic stops getting new messages and a consumer group is completely caught up. I'd expect the value to be zero in this case.

If it's helpful, I'm running `0.5.5` against Kafka `1.1.1`

Might be related to #37

[2020-01-07 23:18] rkrage commented on #111
Might also be worth mentioning that if I restart the lag exporter, the value becomes zero.

[2020-01-08 22:07] rkrage commented on #111
Looking at the code, it _seems_ like this shouldn't be happening:

https://github.com/lightbend/kafka-lag-exporter/blob/master/src/main/scala/com/lightbend/kafkalagexporter/LookupTable.scala#L76

It only returns `TooFewPoints` if there are less than two points in the lookup table. But it definitely seems like the table _should_ contain at least two points for the same offset in this case:

https:/

[2020-01-09 14:26] seglo commented on #111
Hi @rkrage. Thanks for the troubleshooting efforts.  There are indeed some weird edge cases when extrapolating lag in time.  It's been a challenge to satisfy all of them.  The time metric `kafka_consumergroup_group_lag_seconds` metric will report `NaN` for several edge cases.  Is this the metric you expect to see something different for?  Or are you referring to the offset lag metric `kafka_consum

[2020-01-09 16:31] rkrage commented on #111
Hi @seglo, thanks for the response. Yes, I'm referring to the time metric here `kafka_consumergroup_group_lag_seconds`. I turned on debug logging and dumped the output as well as the stat values in this gist: https://gist.github.com/rkrage/03c730718b6d33e3de70f8b3e24ce61c

As you can see, once I turn off my test producer, time lag drops to zero initially, then changes to `NaN` in the next poll ite

[2020-01-10 01:35] endofcake commented on #42
@pimpelsang, looks like it also needs `DESCRIBE` on topics. The final ACLs that worked for me are:
[code]

[2020-01-12 23:40] rkrage opened #113 "Advice on creating custom dockerfile with different base image"
Our company primarily uses debian-based images. Currently we're compiling from source to generate the binaries:

[code]

Is there a better way to accomplish this? Maybe some additional artifacts can be included in each release?

[2020-01-22 23:40] rkrage opened #115 "JSON configuration file support"
We'd like to dynamically generate JSON to configure the application. Reading through https://github.com/lightbend/config it _seems_ like this should work. In the simple case, it looks like it does, but things start to fall apart when defining custom consumer properties.

When attempting to set the security protocol as such:

[code]

I see the following error:

[code]

It seems as though the config

[2020-01-23 15:44] seglo commented on #115
If the key is in double quotes then it shouldn't use the nested structure.  Can you confirm that the config you're generating has keys in quotes and is not simply `security.protocol: "SSL".

Also, typically `=` is used for assignments in HOCON, but `:` will work as well.

Another option is to generate your config as YAML and supply it to the Helm chart (if you're using Helm).  It will automaticall

[2020-01-23 16:04] rkrage commented on #115
I believe the application actually expects nested keys. In the readme, the example uses `client.id = "admin-client-id"`, which would expand to `"client": { "id": "admin-client-id" }` in JSON.

So in my case, I just need to do something like:

[code]

Closing this for now. Thanks for the response!

[2020-01-23 16:04] #115 closed

[2020-01-23 16:16] seglo commented on #115
Ah, you may be right.  We handle Kafka properties in a special way.  https://github.com/lightbend/kafka-lag-exporter/blob/master/src/main/scala/com/lightbend/kafkalagexporter/AppConfig.scala#L75

[2020-01-24 09:25] kpmeen opened #116 "Downloadable binary artifact"
Thanks for creating this useful tool!

Would it be possible to also publish a binary artifact (tar.gz) file containing the actual application, in addition to the docker image and helm charts?
I have use-cases for this tool where docker is not an option, and a binary distro would be very useful.

[2020-01-24 15:08] rkrage commented on #116
I think this is also what I was getting at in #113. Going to close out my issue in favor of this one.

[2020-01-24 15:09] #113 closed

[2020-01-24 16:12] seglo commented on #116
Yes, I can try to include a tarball in the next release.  It would be published alongside the helm chart tarball for each GitHub release.

[2020-01-24 23:36] kpmeen commented on #116
That would be perfect :-)

[2020-01-26 17:42] #46 closed

[2020-01-26 18:13] #111 closed

[2020-01-26 18:43] #116 closed

[2020-01-26 18:50] seglo commented on #49
The new metadata poll timer metric should serve this purpose nicely (#105).  It's been released in [0.6.0](https://github.com/lightbend/kafka-lag-exporter/releases/tag/v0.6.0)

[2020-01-26 18:50] #49 closed

[2020-01-26 18:51] seglo commented on #116
@kpmeen @rkrage Java app packaging was implemented and released in 0.6.0.  Download the zip file from the release page.

https://github.com/lightbend/kafka-lag-exporter/releases/tag/v0.6.0

[2020-01-27 07:56] kpmeen commented on #116
Excellent. Thanks 👍

[2020-01-27 19:16] andreminelli opened #120 "Another " java.lang.IllegalArgumentException: Invalid negative offset""
I am getting the following error - the message is the same as [issue 41](https://github.com/lightbend/kafka-lag-exporter/issues/41), but already running with 0.5.5 (and just tried 0.6.0, with same problem):

[code]

This is trying to connect to Azure Event Hub for Apache Kafka. Some instances work, others fail with this problem.

Any thoughts?

Regards.
Any thoughts?

[2020-01-30 17:32] rkrage opened #121 "Potential bug in group_lag_seconds when log-end offset does not change"
We have a fair amount of topics with rather spiky behavior. An example being a cron that dumps a bunch of messages once an hour. These bursts of data obviously causes a bit of lag for consumers. What we've observed is that time-based lag slowly increases until the consumer catches up to the log-end offset _or_ new messages are produced. I'd expect the time-based lag to slowly _decrease_ as we get

[2020-01-31 08:33] seglo commented on #121
I understand what you're saying.  Do you want to PR a test against the lookup table that demonstrates the problem?

[2020-01-31 16:41] rkrage commented on #121
👍 sure thing! Oh and FYI, I just sent over an email with the signed CLA

[2020-01-31 17:23] rkrage commented on #66
So I think something else is actually going on here. The `kafka-consumer-groups.sh` script uses `AdminClient` and absolutely displays inactive consumer groups:

[code]

I believe this is the source code it's using to list all groups: https://github.com/apache/kafka/blob/6dc6f6a60ddf7a70c394c147fbed579749d2abcc/core/src/main/scala/kafka/admin/ConsumerGroupCommand.scala#L181-L185

[2020-02-02 16:28] dylanmei commented on #120
I've also run into this; still investigating but this is not specific to kafka-lag-exporter.

Loop over all the consumer groups and simply pass those into the `kafka-consumer-groups.sh` tool that comes with your distribution you'll end up with the same root error message on at least one of the consumer groups.

[code]

In my case, when I try to list the members of this group, the tool reports that

[2020-02-02 20:53] seglo commented on #120
@dylanmei Thanks for checking. I can't recreate this issue so I don't have much to go on. The exception itself is exactly what it sounds like, an offset returned by a `OffsetFetchRequest` sent by the admin client is encountering an offset that is `< 0`.  There's no opportunity to log out the response AFAICT.

Do you have any theories here? Next time it happens could you describe the topics involve

[2020-02-03 00:39] ashikaumanga opened #122 "Support for Kerberized / SASL cluster?"
Can this be used with a Kerberized / SASL Kafka cluster?
How to pass settings such as :

-Djava.security.auth.login.config=/etc/kafka.jaas
-Djava.security.krb5.conf=/etc/krb5.conf
-Dsun.security.spnego.debug=false
?

[2020-02-03 11:52] andreminelli commented on #120
I will check the groups as @dylanmei suggested and return.

[2020-02-03 16:20] brunodomenici opened #123 "Helm: Ability to set AKKA parameters"
Hi,

I had to set property: `logger-startup-timeout = 30s` in my config, but isn't possible to do with Helm Chart:

https://github.com/lightbend/kafka-lag-exporter/blob/58cba6c79c6f979da03ef87ef89ac5393e60cb94/charts/kafka-lag-exporter/templates/030-ConfigMap.yaml#L76-L80

My ConfigMap:

[code]

Is it possible to change it?

Great project!

Thanks a lot!

[2020-02-03 16:44] andreminelli commented on #120
I am having a hard time in order to get those scripts running over Azure EventHub for Kafka...
Has someone done this already?

[2020-02-03 18:23] dylanmei commented on #120
I am unfamiliar with Azure EventHub. However, you can pass a `--command.config` file to this command. Try editing and then passing this config [taken from their docs](https://docs.microsoft.com/bs-latn-ba/azure/event-hubs/event-hubs-quickstart-kafka-enabled-event-hubs) as `eventhubs.config`:

[code]

Then run:
[code]

[2020-02-04 16:15] seglo commented on #122
We support any arbitrary Kafka client configuration. System properties could be added by providing a `KAFKA_OPTS` env var to the `Pod` spec of Kafka Lag Exporter. I assume any keys would need to be mounted to pods from a `Secret`.

I don't have experience with this kind of setup. If you're interested in experimenting to add support, and maybe a PR, that would be great!

[2020-02-04 18:52] andreminelli commented on #120
@dylanmei , the MS support gave us an important information about Azure EventHub For Kafka: new consumer group has an offset value of -1. I don´t know if Kafka itself works like this too, but that info and your hint about `kafka-consumer-groups.sh` with `--command.config` argument saved the day.

We found indeed topics without any message produced but with consumer groups created for it anyway, wh

[2020-02-04 19:11] seglo commented on #120
@andreminelli That's an interesting discovery. Thanks for following up.

I suppose you could also use Kafka Lag Exporter whitelisting to ignore groups that have offsets initialized this way, as long as you know what they are ahead of time.

[2020-02-05 07:50] ashikaumanga commented on #122
Thank you , I tried with
`sudo docker run -p 18000:18000 \
-v $(pwd):/opt/docker/conf/ \
lightbend/kafka-lag-exporter:0.4.0 \
/opt/docker/bin/kafka-lag-exporter \
-Dconfig.file=/opt/docker/conf/application.conf \
-Dlogback.configurationFile=/opt/docker/conf/logback.xml
-Djava.security.auth.login.config=/opt/docker/conf/kafka_client_jaas.conf -Djava.security.krb5.conf=/opt/docker/conf/krb5.conf -Ds

[2020-02-06 15:17] seglo commented on #122
Ah, great.  I confused your original question with setting sys properties on the broker itself.  Glad it worked out.

[2020-02-11 02:07] seglo commented on #120
I'm going to leave this open for now.  Worst case we can catch and handle this exception message and report `NaN`.

[2020-02-11 10:58] andreminelli commented on #120
This handling makes sense - stop the whole topic checking because of some consumer groups 'sitting idle' is terrible...
I am looking forward to this enhancement.
Thanks, @seglo

[2020-02-13 10:51] MCPDanilovich opened #125 "Aggregate metrics export NaN value when some partition offset data is unavailable"
We use partitioning for some our topics. Now consumer group assigment looks like:

[code]

In this situation exporter returns incorrect values for sum based metrics. All this metrics equals NaN.
I think function which gets value for this metrics should exclude NaN metrics or NaN should be replaced by zero.

[2020-02-20 20:42] lilyevsky opened #126 "Consumers running inside Flink cluster not reported"
We have consumers that are running inside Flink cluster, using the FlinkKafkaConsumer . They are not reported at all.
I looked into what is different about them. Apparently, those consumers for some reason do not send their client.id to the Kafka broker (I can see that by using Confluent utilities). It is obviously their problem, and maybe they will fix it in the future.
On the other hand, this sh

[2020-02-24 11:44] saithejareddy opened #127 "Kafka lag exporter caching old consumer groups data"
Even though I'm deleting consumer groups which are not active(from cmd in kafka-broker).. I am seeing some consumer groups data available in grafana..

[2020-02-24 21:01] seglo commented on #127
Hi @saithejareddy.  When we no longer detect consumer groups we will unpublish metrics from prometheus.  Any metrics recorded for consumer groups from the past will remain in prometheus, you shouldn't see data for the groups later in the time series.

[2020-02-24 21:39] saithejareddy commented on #127
Got it, Thanks a lot, It helped me

[2020-02-24 21:39] #127 closed

[2020-03-01 18:28] dylanmei commented on #120
A fix for this is on its way in Kafka 2.4.1: https://issues.apache.org/jira/browse/KAFKA-9507

[2020-03-05 14:05] hariprasad-k opened #129 "Ability to extend and configure custom sink to report lag metrics"
Currently, only Prometheus sink is supported to report lag metrics. It could be generalized to have the sink extensible and configurable at runtime, so that it's gives ability to develop custom reporters to push the metrics to different datasources.

[2020-03-09 11:45] seglo opened #131 "Upgrade to Kafka 2.4.1"
Should fix https://github.com/lightbend/kafka-lag-exporter/issues/120

[2020-03-12 11:52] Kumartg opened #132 "Kafka-lag-exporter Standalone setup"
Hi Team,
Can you please share a detailed steps to install "kafka-lag-exporter" project on non-docker server?
I am planning to use this to export Kafka metrics to prometheus and use grafana for monitoring.

It would be great if you share it at earliest.

[2020-03-12 17:06] deeptowncitizen commented on #98
@seglo have the same issue with kafka 2.0.0
I have a single cluster in my test with name + bootstrap-servers parameters.
On the same workstation I can run a simple Confluent SDK based app with the same server name.

[2020-03-13 06:02] pimpelsang commented on #120
Ran into it also. Please consider the NaN by catching that exception as it will be at least year until that latest kafka version is upgraded in production...

[2020-03-13 22:06] dylanmei commented on #120
I expect the fix to appear in the Kafka native client library used by this exporter. There will be no need to upgrade your clusters.

[2020-03-15 01:01] seglo commented on #120
Yes, the fixed admin client should resolve the issue. I'll cut a release next week.

[2020-03-30 08:52] tarvip commented on #120
@seglo any updates on new release?

[2020-04-10 10:13] mukeshchouhan opened #133 "JVM Metrics not coming"
Can you please help with this?

JVM Metrics not coming-
<img width="1613" alt="image" src="https://user-images.githubusercontent.com/20676834/78983512-fadb7b00-7b41-11ea-9d60-ecfefcc22ab2.png">

[2020-04-29 18:03] cydergoth opened #136 "Missing comma separation in JSON if multiple clusters defined"
It looks as if this line should read
`{{- range  $index, $cluster := .Values.clusters }}
{{ if $index }},{{end}}
`
at
https://github.com/lightbend/kafka-lag-exporter/blob/28910edc288c8f0c760b57e29b718fd518193226/charts/kafka-lag-exporter/templates/030-ConfigMap.yaml#L19

This will insert a comma before all the clusters which do not have an index of '0'

[2020-05-01 17:17] surajpuvvada commented on #126
Hello
I'm having the same issue. None of the flink kafka consumer group lags are being displayed. Is there something I need to do ?

[2020-05-03 14:06] alonisser opened #137 "Question - what group.id should I specify under client-group-id in application.conf"
Following the docs I've failed to understand  if
[code]
in `application.conf` is for this exporter and then it gets all active consumers from kafka? OR is the group.id of a specific consumer I'm trying to follow

I'l be glad for help with
Thanks for this great project!

[2020-05-03 16:56] alonisser commented on #137
Got it, it the exporter group.id unrelated to the topic/consumer groups we are monitoring. thanks

[2020-05-03 16:56] #137 closed

[2020-05-03 16:58] alonisser commented on #49
Thanks, so what is the canonical  way to use this as an http health check?

[2020-05-06 13:44] pimpelsang commented on #120
Pretty please ;)

[2020-05-07 02:40] #120 closed

[2020-05-07 11:38] seglo commented on #120
0.6.1 is released with a Kafka clients bump to 2.5.0.  I've had trouble reproducing this issue so it would be great if somebody in this thread could verify this is resolved.  Thanks!

[2020-05-08 19:08] lihaiswu opened #138 "Help: when Consumer Group Lag Partition Seconds has negative value"
Sometimes I see Consumer Group Lag Partition Seconds has negative value. I'd like to understand what condition will have negative value.

![image](https://user-images.githubusercontent.com/52330738/81440285-a4536380-9124-11ea-8b27-4ffafa975729.png)

[2020-05-11 18:54] analytically commented on #49
/metrics?name[]=kafka_consumergroup_poll_time_ms

[2020-06-01 12:50] #126 closed

[2020-06-01 12:50] lilyevsky commented on #126
Fixed in 0.6.2

[2020-06-01 13:32] seglo commented on #133
I haven't looked at the Grafana boards in awhile.  They're very likely out-of-date.  I would encourage you to dig into the promql yourself to see if metric names have changed.

[2020-06-01 13:33] #131 closed

[2020-06-01 13:34] seglo commented on #131
Fixed in 0.6.1

[2020-06-10 09:39] mveroone opened #140 "Per-topic data aggregation"
Hey !

We've implemented you exporter on our cluster, but we have so many topics, partitions and consumers that the metrics weight almost 200MB, and takes 60-80 seconds to scrape.

Would it be possible to aggregate the values per topics, for example, which would reduce the amount of data without having to filter out some data, which we'd like to avoid. Ideally, the aggregation function would be co

[2020-06-16 08:37] lyc0221 opened #141 "When will it be available for production?"
I saw this project status is beta?

so, when will it be available for production?

[2020-06-16 20:20] seglo commented on #141
Kafka Lag Exporter has always been a community project. There isn't much of a roadmap beyond what what was contributed in the first few months following the first release.  Since then it's evolved considerably and a number of users have battle tested and hardened it with bug fixes.

I'm not sure I'll ever be comfortable saying it's "ready for production" since this isn't actually a supportable Lig

[2020-06-24 14:43] sebco59 opened #142 "NullPointerException in KafkaClient#getGroupOffsets"
Hi,
As I'm facing to Invalid negative offset issue, I update kafka-lag-exporter from 0.6.0 to 0.6.2.

On startup, an error occurred and no Kafka metric is exported.
`NullPointerException` on `com.lightbend.kafkalagexporter.KafkaClient.$anonfun$getGroupOffsets$7(KafkaClient.scala:256)`

Full stacktrace

[code]

Thanks for your help !

[2020-07-10 07:59] robertpaker888 opened #143 "Question: Running kafka-lag-exporter against confluent cloud"
Hi,

We want to centralize the way we handle consumer lag. Currently we have a number of services deployed in an aws ECS fargate cluster. Each service is configured to receive a statics payload which we inspect for a consumer lag and then publish a custom metric into cloudwatch, which allows us to invoke auto-scaling. The downside to this approach is that we have to update any new services with th

[2020-07-13 14:18] seglo commented on #143
Hi Rob,

I'm not very familiar with this stack, but that does seem like a lot of work to get consumer lag.  This could be simplified with a tool like Kafka Lag Exporter, but you should also be able to expose Kafka consumer metrics directly (at least, for JVM-based Kafka consuming services, maybe there's something similar for other language stacks), and then use an agent to detect and scrape those

[2020-07-14 08:57] robertpaker888 commented on #143
Hi Seglo,

Thanks very much for the detailed reply. We will investigate further and experiment with Kafka Lag Exporter

Regards,

Rob

[2020-07-14 08:57] #143 closed

[2020-07-17 18:40] MarkC0x commented on #141
Along these same lines, are there any data points for the size of deployment Kafka Lag Exporter can handle?  For example, maximum number of consumer groups and data points that can be consecutively monitored?

I have also been trying to see if there is any way to "scale out" Kafka Lag Exporter to give confidence with large Kafka deployments but haven't found anything along those lines yet.

[2020-07-20 14:32] seglo commented on #141
I haven't performed any scaled benchmarking of Kafka Lag Exporter.  FWIW, it's implemented in Akka, and will take advantage of multiple threads based on the settings of the default Akka thread dispatcher.  It theoretically could handle a large number of partitions and could be tuned by allocating more resources (if in a containerized environment) to it as needed.

There are ways to filter the topi

[2020-07-31 11:44] chelomontilla opened #144 "Ability to configure livenessProbe and readinessProbe"
Hi,
Should be very useful to have the ability to configure livenessProbe and readinessProbe in the helm chart.
Currently the deployment are failing and constantly restarting and I don't have a way to configure the probes timeout.

[2020-08-04 14:36] #144 closed

[2020-08-24 14:47] seglo commented on #63
The `_offset` metrics were originally exported because the data was already available while calculating group lag. That's why only partitions belonging to [active] groups are reported.

I understand the value you get from monitoring the latest offset of arbitrary partitions. It would require a poll of all topic partitions in a cluster. That could be many more partitions than would be desired, but

[2020-08-28 14:38] afiffing commented on #98
Hi @seglo ,
Please let me know, is there any update on the same?
Faced the same issue.

Here is the conf file that I am using

[code]
********************* Log ********************************

[code]

[2020-08-28 14:48] brunodomenici commented on #98
Same here with Confluent Cloud. We opened #142 almost a month ago. Somehow it got back to work, but now isn't working again.
It happen in one Confluent cluster in our case, we other that kafka-lag-exporter works fine...
Thank you

[2020-08-31 08:00] pimpelsang commented on #106
Hit this problem when upgrading lightbend/kafka-lag-exporter 0.5.5 -> 0.6.2 and connecting kafka cluster running 1.1

[2020-08-31 19:33] seglo commented on #106
I'm still unable to reproduce this.  I tried running integration tests against Kafka 1.1, but they were successful.  I suspect it's a combination of app configuration and Kafka API state.

@pimpelsang Can you reproduce this issue reliably? When `DEBUG` is enabled do you ever see a log line of `Received Offsets Snapshot`?  I this exception is caused prior to this logging, but if not can you provide

[2020-08-31 19:39] seglo commented on #98
@afiffing The title of this issue is the generic exception message when collecting offsets fails in Kafka Lag Exporter.  It can fail for many different reasons.  In your case the logs indicate the underlying exception is a `org.apache.kafka.common.KafkaException: Failed to find brokers to send ListGroups`, [which may be related to a Kafka broker listener misconfiguration](https://stackoverflow.com

[2020-08-31 20:57] seglo commented on #142
@sebco59 Thanks for reporting.  It looks like in Kafka 2.5.0 a `null` can be returned when retrieving consumer group offsets with the admin client.  According to the javadocs:

https://kafka.apache.org/25/javadoc/org/apache/kafka/clients/admin/ListConsumerGroupOffsetsResult.html#partitionsToOffsetAndMetadata--

I PR'd a fix #149 and I'll cut a release shortly.

[2020-08-31 21:04] #142 closed

[2020-08-31 21:06] seglo commented on #98
I'm closing this issue due to its generality.  If you encounter this exception look at the inner exception included in the stack trace to see the root cause.

[2020-08-31 21:06] #98 closed

[2020-09-01 14:37] seglo commented on #106
Please provide configuration as well.

[2020-09-01 15:05] #133 closed

[2020-09-01 15:06] #140 closed

[2020-09-01 15:27] #141 closed

[2020-09-01 15:45] seglo commented on #132
The release process will upload a zip file to the GitHub release page (i.e. for [0.6.2](https://github.com/lightbend/kafka-lag-exporter/releases/download/v0.6.2/kafka-lag-exporter-0.6.2.zip)) that can be used to run the project without docker.  Extract this zip file and run the `kafka-lag-exporter` shell script in its `./bin` directory.  Read the [Run Standalone](https://github.com/lightbend/kafka

[2020-09-01 15:45] #132 closed

[2020-09-01 15:57] seglo commented on #136
The `application.conf` being generated here isn't YAML, but HOCON, for a [Lightbend conf](https://github.com/lightbend/config).  As long as there's a line break between the cluster configs then it will be parsed correctly.

If you ran into another issue due to this please follow up.  Sorry for the late reply.

[2020-09-01 15:57] #136 closed

[2020-09-01 16:00] seglo commented on #138
@lihaiswu There were cases where a negative value could be reported from Kafka.  I don't know if this was the exact problem in your case, but you may want to try the latest release to see if the problem persists.  If it does, then please include `DEBUG` logging and your application configuration as described in the new [Troubleshooting](https://github.com/lightbend/kafka-lag-exporter#troubleshooti

[2020-09-01 16:04] seglo commented on #129
When graphite support was added (#114) we re-factored the internals to make it easier to extend and add different sinks.

[2020-09-01 16:04] #129 closed

[2020-09-01 16:10] seglo commented on #125
Is the issue that some partitions do not have a current or log end offset, and as a result the aggregate metric is reported as `NaN`?

It's tricky in these cases to determine whether or `0` or `NaN` is appropriate.  For an individual partition where either value is unavailable I think `NaN` is a correct representation, and it's consistent with the `kafka-consumer-groups.sh` output you included abo

[2020-09-01 16:13] #122 closed

[2020-09-01 16:15] seglo commented on #123
There's no way to add arbitrary config to be added to the templated `application.conf`.  I'm curious why this configuration was important for you to add though.

Apologies for the late reply.

[2020-09-01 16:19] seglo commented on #121
I think this was addressed in #118. Please correct me if I'm wrong.

[2020-09-01 16:19] #121 closed

[2020-09-01 16:33] seglo commented on #42
I finally got around to this in #152.  Thank you.

[2020-09-01 16:33] #42 closed

[2020-09-01 18:05] seglo commented on #132
I added a [Run as Java App](https://github.com/lightbend/kafka-lag-exporter#run-as-java-app) section with more specifics. #153

[2020-09-01 19:48] seglo commented on #110
Thanks for reporting this issue. I was able to reproduce and resolve this bug in #154

[2020-09-01 20:12] #110 closed

[2020-09-01 20:17] seglo commented on #110
Fixed in 0.6.3 https://github.com/lightbend/kafka-lag-exporter/releases/tag/v0.6.3

[2020-09-01 20:18] seglo commented on #142
Fixed in https://github.com/lightbend/kafka-lag-exporter/releases/tag/v0.6.3

[2020-09-01 22:05] seglo commented on #109
@josepplaltg AFAIK this is just an artifact of how prometheus prints out labels in a metric.

Apologies for the late reply.

[2020-09-01 22:05] #109 closed

[2020-09-01 22:08] seglo commented on #107
Please include the complete stack trace if you still observe this error with the latest version.  Consult [Troubleshooting](https://github.com/lightbend/kafka-lag-exporter#troubleshooting) for more information.

[2020-09-01 22:08] #107 closed

[2020-09-01 22:08] #100 closed

[2020-09-02 13:19] seglo commented on #66
I think this is the same issue as #126.  Where if a group has no active members its information was inadvertently filtered out.  @lilyevsky resolved this with https://github.com/lightbend/kafka-lag-exporter/pull/128 which was released in 0.6.2.

This makes me think it might be the same issue.

We make the same call in KafkaClient.

https://github.com/lightbend/kafka-lag-exporter/blob/v0.6.3/src/ma

[2020-09-02 14:51] sebco59 commented on #142
Deployed without error in our side !
Thanks

[2020-09-08 12:31] vpedosyuk opened #156 "Regular metrics flaps and gaps"
**Describe the bug**

![1](https://user-images.githubusercontent.com/16594968/92441813-8c195100-f1b7-11ea-8945-6845d56401b5.png)

PromQL query (for messages in/sec):`sum(rate(kafka_partition_latest_offset[30s])) by (topic)`

Approximately, once in ~10 minutes I observe:

*1. metric flaps*

I've noticed a correlation of those flaps with `sum(kafka_consumergroup_group_lag) by (topic)`, especially if

[2020-09-14 18:08] seglo commented on #156
Hi @vpedosyuk. Thanks for the report.

Based on the logs you provided it appears a timeout is occurring in the `StrimziClusterWatcher`. The fabric8 `kubernetes-client` is used to watch for Strimzi `Kafka` resources. Do your logs contain any `ERROR` log lines, or is the Kafka Lag Exporter pod restarting because of a failure at some interval?

Unrelated, but I'm curious why you have prometheus scrap

[2020-09-14 23:25] rkrage commented on #66
@seglo, just upgraded to 0.6.3 today this appears to be solved for us!

[2020-09-14 23:30] rkrage commented on #121
I'm not sure if #118 solves the problem. I'll try to reproduce on the latest version and report my findings

[2020-09-15 15:28] seglo commented on #66
@rkrage Excellent!  I'll close this ticket.

Fixed with #128

[2020-09-15 15:28] #66 closed

[2020-09-15 17:34] vpedosyuk commented on #156
No errors in logs, no pod restarts. I've statically defined Kafka endpoints instead of using Strimzi watcher but nothing changed, unfortunately.

I noticed that:
* If I whitelist a single topic and a group, there're no *gaps* nor *flaps*.
* *Gaps* are basically a zero increase in counters, e.g.: `kafka_partition_latest_offset{topic="<any_topic>"}`
![same-values](https://user-images.githubuserconte

[2020-09-17 02:47] skaro13 commented on #125
@seglo The main issue seems to be with aggregate metrics. For example, when the `kafka-consumer-groups.sh` outputs the following:

[code]

one would expect the `kafka_consumergroup_group_sum_lag` metric to display `49.0` but currently it returns `NaN` instead. We also use Confluent Kafka Control Center to monitor our brokers and it seems that in those cases, consumer group lag is calculated on con

[2020-09-17 15:42] seglo commented on #125
@skaro13 Yes, that seems reasonable to me as well. Thanks for comparing the behaviour with Confluent's tooling.

[2020-09-17 15:51] seglo commented on #125
I'll cut a release for this shortly.

[2020-09-17 15:51] #125 closed

[2020-09-22 13:51] seglo commented on #125
Fixed in 0.6.4.

[2020-09-23 13:14] tonyjune opened #161 "How to connect to SSL/TLS-MA enabled cluster? (Timeout exceptions)"
I am trying to connect to a kafka cluster that has SSL mutual authentication enabled. My sample configs are :
application.conf

[code]
command to run:

`bin/kafka-lag-exporter -Dconfig.file=/opt/monitoring/conf/application.conf -Djava.security.auth.login.config=/home/kafka/kafka_server_jaas.conf`

timeout ERROR:

2020-09-23 15:05:18,171 ERROR c.l.k.ConsumerGroupCollector$ akka://kafka-lag-exporter

[2020-09-23 13:42] seglo commented on #161
You'll need to apply the same security config for `admin-client-properties`.

[2020-09-23 14:01] tonyjune commented on #161
Thanks, will try that right away. If it works, will have to send the metrics to prometheus and grafana ;)

[2020-09-23 14:36] tonyjune commented on #161
It worked, thanks @seglo  !!

[2020-09-23 14:45] thepythonista opened #162 "Can't pull metrics from Confluent Cloud. Bootstrap Broker disconnected."
Hello,

I'm trying to run the kafka-lag-exporter against a confluent cloud cluster. Below is my configuration

 kafka-lag-exporter {
  reporters.prometheus.port = 9999
  clusters = [
    {
      name = "a-cluster"
      bootstrap-brokers = "pkc-XXXXX.westus2.azure.confluent.cloud:9092"
      labels = {
        location = "chennai"
        zone = "asia-south-east"
      }
	  admin-client-properties

[2020-09-23 15:29] seglo commented on #161
You're welcome!

[2020-09-23 15:29] #161 closed

[2020-09-23 15:49] dylanmei commented on #162
In my setup we specify the credentials twice, once for admin-client and again for consumer.

[code]

[2020-09-23 16:07] thepythonista commented on #162
@dylanmei Thanks a lot. Worked.

[2020-09-23 16:07] #162 closed

[2020-09-23 16:41] seglo commented on #162
Wow, the same question twice in one day.  One way to make this less of an issue would be to have a `base-properties`, or `connection-properties` that could be merged into both.  I guess for most cases you would only need to set the `connection-properties`.

[2020-09-24 14:03] seglo opened #163 "Single location to configure Kafka client connection properties"
Kafka Lag Exporter uses the Kafka Consumer and Admin Client to perform its functions. Configuring one of these sections, but not the other can cause confusion among users (see #162, #161). Each client may be configured differently, but often users just want to configure them with the same shared configuration related to connection parameters (TLS and auth config). This feature would add a `connect

[2020-09-25 00:10] Basma1912 opened #164 "timeout to Confluent Cloud - DescribeConsumerList - A failure occurred while retrieving offsets"
**Describe the bug**
The DescribeConsumerList is always timing out , unable to get metrics , although the connection is successful

the logs
DEBUG o.a.k.clients.admin.KafkaAdminClient  - [AdminClient clientId=admin-client-id] Timed out 33 call(s) with assigned nodes.
DEBUG o.a.k.c.c.i.AbstractCoordinator  - [Consumer clientId=consumer-client-id, groupId=kafkalagexporter] Resetting generation due t

[2020-09-25 21:50] seglo commented on #164
Can you include the stack trace of the exception and version of Kafka Lag Exporter?  Did you configure `admin-client-properties` and `consumer-properties` with the same connection info?

[2020-09-25 22:12] Basma1912 commented on #164
Kafka Lag exporter version v0.6.4 , and I am using the same connection info , the thing is if I only select one or two for group-whitelist , the script is working .

2020-09-24 21:16:59,615 INFO  o.a.k.c.a.i.AdminMetadataManager  - [AdminClient clientId=admin-client-id] Metadata update failed org.apache.kafka.common.errors.TimeoutException: Call(callName=fetchMetadata, deadlineMs=1600982229397) ti

[2020-09-25 23:55] Basma1912 commented on #164
is there a way to store the -list consumer group and iterate through them with the describe command?

[2020-09-28 15:51] seglo commented on #164
I'm not sure exactly what you're asking, but if you enable `DEBUG` logging you can see the raw information Kafka Lag Exporter uses before it does any calculations.

https://github.com/lightbend/kafka-lag-exporter#troubleshooting

However, in this case the exception is being thrown before offsets can be retrieved, so they won't be logged.

[2020-10-01 11:52] matanbaruch opened #165 "Resetting generation due to consumer pro-actively leaving the group"
Kafka version 2.4.1.1 (AWS MSK)
kafka-lag-exporter version 0.6.4
Debug enabled
Attached [logs.txt](https://github.com/lightbend/kafka-lag-exporter/files/5311710/logs.txt)

application.conf

[code]

[2020-10-01 18:53] seglo commented on #165
The `AdminClient` timed out when listing groups, but it looks like it was beginning to recover near the end of the log. Is this a consistent issue or do you only see it occasionally?

[code]

[2020-10-01 18:54] seglo commented on #164
It might be worthwhile to log information as it's retrieved, instead of only once it's all been collected.

[2020-10-05 13:11] matanbaruch commented on #165
This is consistent issue. I can't event get the metrics. The Prometheus endpoint only serve JVM Metrics.

[2020-10-05 15:14] seglo commented on #165
What I meant was does it ever produce Kafka Lag Exporter metrics or is it never able to connect to the Kafka cluster?  If it always times out then I would suggest troubleshooting that connectivity issue.

[2020-10-05 23:45] matanbaruch commented on #165
It never produce Lag Exporter metrics..
There is no connection issue, I’m running different exporters from the same machine all of them works fine.

[2020-10-06 18:18] notnmeyer opened #166 "templating engine/language used in reference.conf/application.conf?"
Hi folks!

I'm trying to interpolate a couple env vars into my application.conf. I see in the [reference.conf](https://github.com/lightbend/kafka-lag-exporter/blob/master/src/main/resources/reference.conf) its possible to reference env vars but I haven't figured out how or if its possible to interpolate a value into a string, something like `blah-${?SOME_VAR}`. I'm new to the ecosystem, so I don't

[2020-10-07 13:35] seglo commented on #166
Hi @notnmeyer. Kafka Lag Exporter is an Akka application, which uses the HOCON format for configuration. Specifically, the Lightbend Config library. [Here's the section on concatenation in a value](https://github.com/lightbend/config#concatenation), but in your case the syntax should be `blah-${SOME_VAR}` where `SOME_VAR` is an environment variable, or another value in the config file (using dot n

[2020-10-07 14:20] notnmeyer commented on #166
Thanks for the info, very helpful. Cheers!

[2020-10-07 14:20] #166 closed

[2020-10-07 14:57] notnmeyer commented on #166
For any future travelers: The gotcha was that `${SOME_VAR}` should not be within quotes. The concatenation section @seglo linked calls this out specifically,

[2020-10-08 14:53] ryan-dyer-sp opened #167 "Different interval and timeouts per cluster"
It appears the kafka-client-timeout and poll-interval settings are currently app wide.  Is there any way to make these cluster specific?  We have certain clusters where we use these metrics for basic monitoring and others where these metrics are used in HPA.  We want the metrics used for HPA(one cluster) polled more often than those used just for generic monitoring.

[2020-10-08 15:04] seglo commented on #167
They're global. I can see how it would be useful to define these per cluster. I would recommend installing a 2nd Helm release (or running a separate standlone instance, if not using Helm) with different config for each set of clusters.

[2020-10-13 09:20] matanbaruch commented on #165
Anyone?

[2020-10-13 15:12] seglo commented on #165
Can you include more logs?  Do they ever indicate that the consumer or admin client even successfully connected to your cluster?

[2020-10-15 17:43] ryan-dyer-sp opened #170 "Support multiple helm deploys within same namespaces"
**Describe the bug**
Currently the helm chart ServiceMonitor doesnt properly distinguish helm charts deployed into the same namespace

[code]
should also add the app.kubernetes.io/instance label in order to distinguish one chart from another chart deployed into the same namespace.

[2020-10-15 18:06] ryan-dyer-sp opened #172 "Missing data in prometheus scrapes"
**Describe the bug**
Not sure what may be happening so reaching out.  I've got a 1h graph of kafka_consumergroup_group_max_lag_seconds and kafka_consumergroup_group_max_lag.  In the seconds graph there are chunks of data missing.  The exporter is set to poll every 60 seconds with a 20s timeout.  The ServiceMonitor is set to scrape the exporter every 30s.  As our HPA relies on the seconds metric, t

[2020-10-15 20:44] ryan-dyer-sp commented on #172
Additional Info.  I've enabled debug logging on the app and every time we get a gap in metrics we see the following in the logs:
[code]
This also appears to be isolated to AWS MSK 2.4.1+ as our 2.2.1 clusters dont appear to experience this issue.

[2020-10-19 12:13] matanbaruch commented on #165
The log file is included in the main post. I raised to debug level.

It looks like they never successfully connected to the cluster.
The cluster works with non ACL.

[2020-10-19 13:39] ryan-dyer-sp commented on #172
@seglo Any thoughts on this?

[2020-10-19 13:52] seglo commented on #165
Unfortunately I don't have much experience configuring ACLs with Kafka clients, but other have used Kafka Lag Exporter successfully in secured environments.

Based on some cursor google searches for `Call(callName=findCoordinator, deadlineMs=[timeout]) timed out` it seems the problem is generally due to client configuration errors. Or possibly misconfiguration in the brokers advertised listeners,

[2020-10-19 13:52] #165 closed

[2020-10-19 15:25] ryan-dyer-sp commented on #170
PR also adds support to provide additional configuration for the ServiceMonitor.

[2020-10-19 21:11] seglo commented on #170
Implemented in #171

[2020-10-19 21:11] #170 closed

[2020-10-23 15:13] ryan-dyer-sp commented on #172
@seglo Any insight on this?

[2020-10-25 15:10] seglo commented on #172
When groups, topics, partitions are not available in subsequent scrape they are explicitly removed from the prometheus end point. This is done because there's nothing like a TTL on prometheus metrics, so if they're not removed then over time it can accumulate a lot of stale data for groups, topics and partitions that may no longer exist.

According to your logs it looks like all the data in the of

[2020-10-28 07:51] Stono opened #175 "Strange readings during large spikes"
Hello!
Firstly; thank you for making this!

I just wanted to get your thoughts on something we've seen.  Under normal operation it feels like the value being output is spot on, however when we get large spikes, it no longer makes sense.

Take this example:
![Screenshot 2020-10-28 at 07 49 21](https://user-images.githubusercontent.com/1486729/97407182-39742f80-18f2-11eb-9cfa-04ae20977432.png)

You

[2020-10-29 16:58] seglo commented on #175
It may be worthwhile to reduce the `lookup-table-size` configuration if you experience these kinds of spikes regularly. That will give the lag-seconds calculation a "shorter memory" to draw upon, although that may result in the reporting of spikes more frequently.

I wonder what the median of the lag_seconds metric across a topic would look like with this dataset.

[2020-10-30 13:46] seglo commented on #175
On second thought, decreasing the `lookup-table-size` won't help.  I'll have to do some experimentation with large increases like these to see if there's an elegant way to minimize their inaccuracy.

In the meantime, I'm curious if using a median across a topic's partitions would provide a more reasonable metric for you. In Prometheus you can calculate median using the [quantile operator](https://

[2020-11-05 17:12] idristarwala opened #177 "Topic Whitelist not working"
I have been trying to deploy the lag exporter in our prod env.. but I see that regardless of what I put in the topic whitelist the lag exporter tries to pull the data of all topics.

kafka-lag-exporter {
  port = 8000
  poll-interval = "60 seconds"
  lookup-table-size = "60"
  client-group-id = "test"
  kafka-client-timeout = "60 seconds"
  clusters = [
    {
      name = "test"
      bootstrap-br

[2020-11-05 17:12] idristarwala commented on #177
using the latest version of the lag exporter 0.6.5

[2020-11-05 17:27] idristarwala commented on #177
I do see this in the log :-
2020-11-05 17:25:28,957 INFO  c.l.k.KafkaClusterManager$ akka://kafka-lag-exporter/user - Cluster Added:
  Cluster name: thor-hvfc-prod-inbound
  Cluster Kafka bootstrap brokers: kafka-**
  Consumer group whitelist: [.*]
  Topic whitelist: [thor-test-topic1]
  Topic blacklist: []

[2020-11-05 17:39] idristarwala commented on #177
@seglo ^

[2020-11-10 18:32] idristarwala commented on #177
can anyone pls help out with this issue?

[2020-11-10 20:27] ryan-dyer-sp commented on #172
@seglo Ugh sorry for delay in responding to this.  The consumer is logstash which is constantly scraping data from the MSK and sending it to ES.  The kafka-lag-exporter is set to poll the MSK every 60 seconds.  I tried performing my own scrape of the offsets from the cluster on a regular basis and never saw that it had blank data.

[2020-11-16 17:04] seglo commented on #177
@idristarwala Thanks for reporting.  This is interesting because we have a test that asserts topic whitelists work as expected.

https://github.com/lightbend/kafka-lag-exporter/blob/v0.6.5/src/test/scala/com/lightbend/kafkalagexporter/KafkaClientSpec.scala#L134

Can you verify the symptom of the problem you're experiencing?  Are you noticing that the endpoint includes metrics for topics that do no

[2020-11-16 17:08] seglo commented on #172
Are you sure that logstash is keeping the consumer group active indefinitely?  Is logstash a long-lived process or does it run on a batch?

[2020-11-20 06:18] idristarwala commented on #177
@seglo , no that is not the case.. lag-exporter is exporting metrics from a new job which is different from the one we were using earlier.. I have validated this accross multiple clusters and neither whitelist nor black list works.. We have instead applied prometheus rules to forward only specific topics..

[2020-12-04 20:58] senthil13 opened #179 "Consumer throws UNKNOWN_TOPIC_OR_PARTITION error when partition belonging to deleted topic doesn't exist"
Suddenly I am getting below error while starting

[code]

I am not sure why the app looking a topic which is not there, how we can override  the issue?

[2020-12-07 14:42] pimpelsang commented on #69
Also interested in this feature!

[2020-12-07 15:54] seglo commented on #179
Is it possible a topic or partition was deleted while Kafka Lag Exporter was running?  Is this a persistent error or did it go away on restart?

[2020-12-08 15:54] senthil13 commented on #179
Hi @seglo, Yes there will be topic deletion and addition throughout a day, but here its not coming up after restart. its keep on dying to find the delete topic. I restarted multiple time but no use. At last I blacklisted those topics to come the process up. I am using the latest version of the lag-exporter.  where the metadata is stored cant we remove those then we dont see those errors ?

[2020-12-08 16:16] markel72 opened #180 "Namespace in Grafana dashboard"
Hi,

I was trying to set up Grafan dashboard. I see data is coming to Prometeus but I see errors in Grafana.
The dashboard requires to enter namespace value and then cluster name. So I am wondering what this namespace stands for? is it where dashboard is installed in K8s or something else.

Regards
Mark

[2020-12-09 17:22] seglo commented on #179
All topic partition data begins with the consumer group data returned by the Kafka Admin client. If that's still referencing topics and partitions that no longer exist then we'll get errors because Kafka Lag Exporter assumes consumer group data is correct when it attempts to use the Kafka Consumer to get latest offset info.

[2020-12-09 17:25] seglo commented on #180
It should be the namespace of the Kafka Lag Exporter pod.

[2020-12-09 18:08] markel72 commented on #180
it actually does not work like this. Prometheus adds annotation "kubernetes_namespace", so all queries in dashboard return no data. I had to change grafana json and then it works fine.  Great product, by the way!

[2020-12-09 18:25] seglo commented on #180
The intention was that it would let you choose which instance of Kafka Lag Exporter to get metrics from, but it's been awhile.

The Grafana dashboards don't have any testing around them so they probably require some work. I would welcome any fixes you think are necessary in a PR.

[2020-12-09 18:34] senthil13 commented on #179
So you mean to say that some issue with the Kafka cluster ? or some issue with the topics? How to resolve this?

[2020-12-09 19:36] seglo commented on #179
I'm speculating that there could be stale data returned by the Kafka Admin client if a topic is deleted.

You can test this by deleting a topic that belongs to an active consumer group, and then check the partitions that belong to that consumer group with the `kafka-consumer-groups.sh` shell script that comes with the Kafka release.

[2020-12-10 14:24] senthil13 commented on #179
I created two test topics then start a producer to produce some messages, started consumer to get the message and deleted one topic, but I am unable to see any error.

[2020-12-10 15:25] seglo commented on #179
Did you use `kafka-consumer-groups.sh`? It comes with Kafka releases in the `bin` dir.

[2020-12-10 15:32] senthil13 commented on #179
yes i did

[2020-12-10 15:35] seglo commented on #179
What was returned when you listed the members and partitions for the group?  Did it still refer to the deleted topics?

[2020-12-10 15:37] senthil13 commented on #179
nope i didnt showed

[2020-12-10 15:43] seglo commented on #179
Ok, I'll need to do some troubleshooting then.

[2020-12-20 01:06] ofiryy opened #182 "Cannot get any kafka metrics"
**Describe the bug**
I installed the helm chart of the kafka-lag-exporter,

when I run:
[code]

I get:
[code]
in almost all the other metrics, like the jvm metrics, I get the data itself, but in all the kafka metrics I get nothing.

configuration of the kafka-lag-exporter:
[code]
the  kafka-lag-exporter chart version is 0.6.5

what could be the issue ?

[2020-12-22 13:23] ryan-dyer-sp commented on #172
Logstash is a long lived process that runs indefinitely.  Assuming the offsets are all caught up, it will poll the MSK every few seconds (<5) to determine if the offset has changed and whether or not to process that change.

[2020-12-22 16:04] seglo commented on #172
I see.  For some reason the request to get partition metadata for the `logstash` group is returning nothing (or it's filtered out by allow/deny lists in kafka lag exporter). You could try adding a cron task to dump partition info using the `bin/kafka-consumer-groups.sh` script that comes with an Apache Kafka release to see if you observe the same gaps (lack of data).

Kafka lag exporter will expli

[2020-12-22 16:31] seglo commented on #175
I've thought about this issue a little more.

The problem is that in situations when regular consuming throughput is a fraction of the potential throughput a consumer can accommodate then the prediction will not be accurate at all because it hasn't observed the consumer consuming at its highest throughput.

For example,

1. Normal consuming operation.  Consumer stays up-to-date by consuming 1000 1

[2020-12-30 10:42] amirmg76 commented on #182
i had the same problem
did you give exporter the permission?
read this https://github.com/lightbend/kafka-lag-exporter#required-permissions-for-kafka-acl

[2021-01-06 14:10] seglo commented on #182
Please also provide DEBUG logs for further assistance.

https://github.com/lightbend/kafka-lag-exporter#troubleshooting

[2021-01-25 19:31] Manicben commented on #69
Apologies for the spam, had forgotten about my work machine's git setup being different.

I've gone ahead and implemented the above, as it would make our Prometheus instance and storage much happier if consumer groups with uuids were filtered out from the get go.

[2021-01-25 19:49] seglo opened #185 "Convert to using terms allow/deny"
Remove docs and configuration references to white/black lists and replace them with allow/deny.  We can preserve the support for the terms in the impl. to prevent breaking changes.

[2021-01-25 21:27] #69 closed

[2021-01-28 17:06] lukaszkrawiec opened #188 "Can we cut a release?"
Current documentation implies that exporting to InfluxDB is an implemented feature, however no artifact exists with that commit.

[2021-01-29 15:16] lukaszkrawiec commented on #188
@seglo is there a chance this could be done sometime soon? I'm anxious to deploy this to prod as it would help our team a lot.

[2021-01-30 15:08] seglo commented on #188
@lukaszkrawiec Yes, working on it now.

[2021-01-30 20:30] seglo commented on #188
0.6.6 has been released!

[2021-01-30 20:30] #188 closed

[2021-02-01 11:53] iSerganov commented on #177
+1 Suffering the same issue.

[2021-02-02 17:03] lukaszkrawiec commented on #188
Thanks a ton, appreciate it !

[2021-02-10 14:50] rahulzAutomtion opened #192 "Can we configure any other kafka principal user instead of kafka-lag-exporter as in my kafka environment not able to create new principal user due to restricted access"

[2021-02-10 15:20] gbuirel opened #193 "Read ENV VARs in helm chart configuration"
Hello,
First and foremost, thanks for the module, it's really helpful.

We're using a HelmRelease resource to deploy the kafka-lag-exporter.
When connecting to a Kafka cluster, we'd like to be able **to not put our credentials in clear** in the fields like
` ssl.truststore.password `

That's why we'd like to use ENV vars, loaded through secrets (or secret file if that's possible? ) in the followin

[2021-02-10 16:26] seglo commented on #192
I'm not sure I understand the question, but as long as you use a user that has the permissions Kafka Lag Exporter needs, you can use that.

[2021-02-10 16:30] seglo commented on #193
Env vars can be used in Lightbend config (the config file format used by Kafka Lag Exporter). We would need to update the chart to create a `Secret` and load the keyvalues as a env vars.  Or maybe we could just make the whole `ConfigMap` a `Secret` instead.  WDYT?

[2021-02-10 18:50] falconrh opened #194 "Exception when one of the Bootstrap Brokers is down."
Hello,
We have setup a rolling restart of our development Kafka Cluster (Confluent 5.5.2 -> Kafka 2.5), to make sure our clients are properly configured. (Multiple Bootstrap brokers).  When one of the servers is down, lag exporter throws a  "java.lang.Exception: A failure occurred while retrieving offsets" exception.  If all 3 servers are up, there are 6 in our clusters, everything works as expect

[2021-02-11 13:51] gbuirel commented on #193
On the issue at hand, **it was resolved** (or, workaround-ed) by just **deleting the  added quotes** around the generated configMap value :
`ssl.keystore.password = ${?SSL_CLEAR_KEYSTORE_PASSWORD}`  works, but
`"ssl.keystore.password = ${?SSL_CLEAR_KEYSTORE_PASSWORD}"`  doesn't.

The issue really seems to be tied to this line
https://github.com/lightbend/kafka-lag-exporter/blob/master/charts/kafka

[2021-02-16 19:46] yehonatanz opened #195 "graphite reporting not working on docker image 0.6.6"
**Describe the bug**
Version 0.6.6 from dockerhub not reporting to graphite when configured. Version 0.6.5 works perfectly with same config.

**To Reproduce**
zip with docker-compose.yml and application.conf: [kle.zip](https://github.com/lightbend/kafka-lag-exporter/files/5991267/kle.zip)

`docker-compose.yml`:
[code]
`application.conf`:
[code]
Log:
[kle.log](https://github.com/lightbend/kafka-lag

[2021-02-16 20:42] yehonatanz commented on #195
Found the cause.
It seems that since #157 it is required to specify:
[code]
in addtion to specifying graphite in reporters.

I'm OK with closing this issue, but I guess a README update is needed.

[2021-02-19 14:42] falconrh commented on #194
Is it possible Lag Exporter can't handle a topic with ReplicationFactor of 1, if the server it's Partition is on is down?
Topic Details:
Topic: customer-repair-timedstep-processor-KSTREAM-MAP-0000000008-repartition   PartitionCount: 10      ReplicationFactor: 1    Configs: cleanup.policy=delete,segment.bytes=52428800,retention.ms=-1

[2021-03-02 11:47] judomu commented on #193
Same issue here, to use environment variables we must not use quotes (see https://github.com/lightbend/config) and currently the helm chart enforces them. That means we can only use a copy of the helm chart. Is there any need to have quotes at all?

[2021-03-03 13:13] seruman opened #197 "Reporting old metrics if topic is re-created within poll interval"
**Describe the bug**
If a topic is deleted then re-created within poll interval, exporter reports `kafka_partition_latest_offset` as the value before deletion. This also lag metrics to be wrong since they're derived from it.

**To Reproduce**
Logs: https://gist.github.com/seruman/6f9a6718e29760af41683a4b45bd5ef2
Config:
[code]
* Create topic `my-topic`
* Start consumer `my-group`
* Produce 100 mes

[2021-03-03 13:57] Thomas2511 opened #198 "Need for documentation on InfluxDBPusherSink and "sinks" in general"
**Describe the bug**
I was trying to setup an InfluxDB using kafka-lag-exporter to check the lag from Kafka and I couldn't get it to work simply using the configuration provided through the documentation for InfluxDB.

**To Reproduce**
The original configuration file looked like this:

[code]

With a Kafka + Zookeeper cluster with InfluxDB and Grafana for data reporting. Everything set up in conta

[2021-03-06 17:04] yehonatanz commented on #198
This is the same problem I experienced in #195

[2021-03-09 20:10] seglo commented on #197
Interesting. Will the latest offset ever reset on its own (perhaps after 2 intervals?) or does it remain in this state indefinitely?

[2021-03-10 20:21] seruman commented on #197
It stays in that state. Previous logs I've shared had only a single poll before shutting the exporter down. It still reports old state even after multiple intervals;
* [Logs](https://gist.github.com/seruman/e0859481db02e50a114a06e65fcadf84)
* [Metrics screenshot](https://i.imgur.com/dGd0mkX.png)

Lately we experienced this again, it was still reporting the old latest offset even after an hour the

[2021-03-16 06:44] hisabimbola commented on #175
Hello @seglo

any update on this issue?

Thanks

[2021-03-16 13:30] gbuirel commented on #193
Quick Update on the issue . This might deserve a separate issue on its own.

While the main issue remains ( quotes that i don't really understand why they're necessary),
we've now opted to go for loading our secrets through a secret manager (vault), which loads them in a/multiple files.

The part that's missing now is how to load these secrets in our configuration.

- Option 1 would be : In the va

[2021-03-16 14:05] seglo commented on #175
@hisabimbola Not yet. I'll need some time to work on it, but I've been fairly busy. If you, or anyone else is interested in working on it I would welcome a PR. Here are some modified starting requirements from what I mentioned earlier

When consuming time lag time lag increases by a "large amount":

* Configure a threshold of when to use the max throughput. This could be a constant for some consta

[2021-03-16 14:52] seglo commented on #193
Some values (like URL's, hostnames with ports, etc.) need to be quoted in Lightbend config or it can result in a parser error. If quoted values in the helm chart config end up as quoted values in the lightbend config then we could disable the automatic quoting that occurs in the chart, though it may break some user's config when they upgrade.

We could add configuration to the helm chart to mount

[2021-03-17 20:51] braun1928 opened #199 "Custom labels not pushed to Influx"
**Describe the bug**
The `labels` block in the clusters are not working with InfluxDB, even though I can use them correctly with Prometheus endpoint.

**To Reproduce**
1. Configure any cluster, add the `labels = { custom_label = "test" }` block, and configure InfluxDB sink
2. Run it. No `custom_label` will be pushed to Influx.
2.1. Extra: pushing to a Telegraf instance with this config will show t

[2021-03-22 18:09] seglo commented on #199
Fixed in #200

[2021-03-22 18:09] #199 closed

[2021-03-24 09:26] plakat commented on #106
Hi!
I'm seeing an error like this in my installations as well, the stack trace is preceded by

`[AdminClient clientId=clj_internal] Initiating close operation.
[AdminClient clientId=clj_internal] Waiting for the I/O thread to exit. Hard shutdown in 10000 ms.
[AdminClient clientId=clj_internal] Exiting AdminClientRunnable thread.
[AdminClient clientId=clj_internal] Kafka admin client closed.
[Consu

[2021-04-15 14:10] klinux commented on #164
I´ve confluent cloud configured here, and I configured admin-client-properties like consumer-properties, but I receive this warn:

2021-04-15 13:57:36,383 WARN  o.a.k.c.admin.AdminClientConfig akka://kafka-lag-exporter/user/consumer-group-collector-production - The configuration 'sasl.jaas.config' was supplied but isn't a known config.
2021-04-15 13:57:36,384 WARN  o.a.k.c.admin.AdminClientConfig

[2021-04-21 13:28] hisabimbola opened #229 "Change docker base image due to security findings"
**Describe the bug**
The current base image - centos:8 that is been used now in the project is not maintained anymore and will be out of support at the end of this year. there are also high security findings in the centos:8 image

I wonder if it's possible to change to debian base image as that is better maintained

**To Reproduce**
Provide logs and application configuration.
See the [Troubleshoot

[2021-05-23 09:35] oded-dd opened #235 "clusters value in chart values.yaml has the wrong type"
**Describe the bug**
clusters value used as part of the chart is expecting an Array, while in the values.yaml it setup as object,
helm in return returns a warning that the type is incorrect

**To Reproduce**
Provide logs and application configuration.
See the [Troubleshooting](https://github.com/lightbend/kafka-lag-exporter#troubleshooting) section of the `README` for instructions on how to enable

[2021-05-25 17:37] jon-whit opened #237 "render podAnnotations with template func"
I've submitted an MR that I'd love to get in that allows templated podAnnotations. Tell me what you think!

Take a look here: #236

[2021-05-27 12:47] DanMelman commented on #177
+1 Experienced the same issue

[2021-06-01 18:09] justineyster commented on #229
We're seeing all kinds of vulnerabilities in the current kafka-lag-exporter image. Roughly 100 of them with a trivy image scan. Any word on when a new one will be released that remediates these security risks?

[2021-06-02 14:57] jon-whit commented on #237
@seglo any chance we could get this merged in and released? I'd like it to be part of the official helm chart instead of my own fork.

[2021-06-14 11:45] ccrichter opened #244 "consumergroup lag time series exist for already terminated consumers"
The following prometheus query
`count(kafka_consumergroup_group_lag{cluster_name="$cluster_name", namespace=~"$namespace", group=~"$consumer_group"}) by (consumer_id, group)`
returns consumers (consumer_id's) which are not existing anymore and are not visible in the Confluent ControlCenter.
The Kubernetes pods containing the Kafka consumers (plain consumers as well as within Kafka streams applicat

[2021-06-17 18:23] RoVernekar opened #245 "Helm chart doesn't support Graphite/InfluxDB reporters"
**Describe the bug**

It's possible to specify different reporters in the configuration when running standalone, but it doesn't seem like the Helm chart currently supports this.

`030-ConfigMap.yaml` would need to be updated to allow the reporter properties to be specified.

**Environment**
 - Version 0.6.7
 - Run with Helm

[2021-06-20 20:24] slachiewicz opened #247 "Build failed due to Bintray sunset"
With `sbt updateHelmChart docker:publishLocal -DskipTests=true`
i'm geting build errors:

`[warn]
[warn]  Note: Unresolved dependencies path:
[error] sbt.librarymanagement.ResolveException: Error downloading com.typesafe.akka:akka-stream-kafka-testkit_2.12:2.0.6+3-255156cc
[error]   Not found
[error]   Not found
[error]   not found: C:\Users\sylwe\.ivy2\local\com.typesafe.akka\akka-stream-kafka-te

[2021-07-08 07:30] plakat commented on #106
Meanwhile we upgraded to Kafka 2.8.0, unfortunately this problem still persists...

[2021-07-12 13:19] lilyevsky opened #249 "StackOverflowError"
Once in a few days we get the fatal error java.lang.StackOverflowError, please see the attached log and configuration.
In the stack trace I see no other calls except scala.collection.MapLike$FilteredKeys.get(MapLike.scala:241).
Don't know how to reproduce it, it just happens once in a while.
Using the latest version 0.6.7. Running standalone.

[kafka-lag-exporter.2021-07-07.0.log](https://github.c

[2021-08-02 21:37] jbhushan791 commented on #193
Hi,

Is the issue regarding reading secrets from AWS secret manager resolved?

We are also having trouble resolving secrets for secured clusters and we don't want to put passwords in clear. Our passwords are stored in AWS secret manager and we are looking for a way for accessing these passwords in kafka-lag-exporter. Could you please help us with some more details?

[2021-08-04 15:59] henryk-radoslaw-rychlik commented on #247
I get the same issue trying to build a version without client_id that causes DD to be littered with too much data. Please help!

[2021-08-05 08:51] bapBardas commented on #198
I've been fighting hours to have the InfluxDB exporter work properly, thank you very much for this clarification ! I agree this must be added to the official doc, it would save a lot of time to future-me :).

[2021-08-19 21:14] jbhushan791 commented on #193
added this PR : https://github.com/lightbend/kafka-lag-exporter/pull/255 which will enable kafka-lag-exporter to read passwords as environment variable

[2021-08-24 13:40] josiasnonato commented on #182
I have same problem!!

But I can get only one metric: **kafka_consumergroup_poll_time_ms**

[2021-08-24 13:41] josiasnonato commented on #177
+1 with same problem.

[2021-09-20 11:41] rubenluengas opened #262 "java heap configuration missing"
We are receiving outofmemory errors when pooling metrics endpoint.
a curl -X GET -g http://localhost:8000 receives more than 80000 lines of metrics (and it is ok).

How can we define the xmx option in the lag exporter execution?

Thx

[2021-10-10 02:46] mihasya opened #263 "SASL credentials don't work when injected via environment variables"
**Describe the bug**
Hello. I am testing `kafka-lag-exporter` using a known-good set of credentials against a Confluent Cloud cluster (I use the same creds to run Kafka CLI commands). When inserting the credentials directly into the configuration file, they work and I am able to hit the prometheus endpoint and see lag reported for the consumer groups in the whitelist. However, when I set them as e

[2021-10-10 12:15] DanMelman opened #264 ""Max" metrics should contain the topic name"
It could have been useful to have the topic as a label of the  "max" metrics (`kafka_consumergroup_group_max_lag`, `kafka_consumergroup_group_max_lag_seconds`), just like we have in the per-partition metric `kafka_consumergroup_group_lag_seconds`.
This is useful when you have the same consumer group name in different topics. In such situation the `max` metric cannot be used, because it mixes consu

[2021-10-11 15:15] locmai opened #265 "Export kafka_consumergroup_group_lag metric with NaN value made sum() resulted in NaN"
**Describe the bug**
The exporter given the NaN values which will result Prometheus Sum into NaN as well for kafka_consumergroup_group_lag.

**Additional context**
Came across a several similar issues: https://github.com/prometheus/memcached_exporter/issues/38 and the author of Prometheus said this himself.

I believe these are the source of the NaN value left so could we safely remove them:

http

[2021-10-14 18:01] yevsh opened #266 "Running kafka-lag-exporter from container in existing pod"
I would like to use lag exporter as additional container in existing kubernetes pod.

I didnt find example for this.

Is it possible to achieve that without mounting  configuration file, instead pass all params to container as env variables (under env section of the container in yaml file of my pod)?

[2021-11-04 08:31] MCPDanilovich commented on #179
In my case, i had simple consumer that didnt close connection to deleted topic. Lag exporter would write UNKNOWN_TOPIC_OR_PARTITION unless i deleted topic. Check incorrect consumer groups.

[2021-11-04 12:20] jeqo opened #270 "Kafka Lag Exporter container fails with PKCS12 certificates when generated with JDK17"
**Describe the bug**
PKCS12 keystores are the default since Java 9[1].
Even though JDK 8 supports PKCS12, I found that when creating keystores with newer versions (e.g. 17) the container running JDK 8 is not able to read the keystore:

[code]

[1] https://openjdk.java.net/jeps/229

**To Reproduce**
- Create a PKCS12 keystore with JDK17.
- Mount keystore and configuration to Kafka Lag Exporter cont

[2021-11-05 12:52] jeqo commented on #270
Just tested with JDK11 generated keystores and fail on the same way:

[code]

[2021-11-08 12:15] timtebeek commented on #270
Not sure if this 'll work in your case, but at work we had to add a `RUN yum update -y` to our Dockerfile.

[2021-11-09 11:18] jeqo commented on #270
Thanks for the workaround @timtebeek !

Agree. I was thinking the best solution could be around those lines.

cc @seglo

[2021-11-10 14:25] bnjns commented on #262
If this helps, we've used the `JAVA_OPTS` environment variable

[2021-11-12 20:19] JohnPreston commented on #247
@henryk-radoslaw-rychlik what would the sbt command would then look like ? Also are you using java 8 or made it to 11 by chance ?
I am trying to build the image but not via SBT (just a good old Dockerfile and all) and I do not use helm etc. so I really just a "good old jar" to run.
@slachiewicz  did you figure out  a solution since ?

Thanks for your help :)

[2021-11-14 01:51] slachiewicz commented on #270
Yes, update to latest JDK will fix issue - root cause is https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8267599

[2021-11-20 20:11] #247 closed

[2021-11-21 21:47] #262 closed

[2021-11-21 21:48] seglo commented on #270
I just released `0.6.8`. LMK if that addresses it.

[2021-11-21 21:54] seglo commented on #266
I suppose it's possible. I would consult the Helm chart for inspiration. Maybe deploy the helm chart as-is and look at how the `Deployment` is configured.

It's possible, but it will be tricky to substitute any configuration that relies on arrays.  See [Lightbend config](https://github.com/lightbend/config#optional-system-or-env-variable-overrides) docs for more information.

[2021-11-21 21:54] #266 closed

[2021-11-21 21:56] seglo commented on #175
Unfortunately, I don't have much time to work on what I proposed earlier in this thread. If it's something you're interested in submitting a PR for I can work with you (or anyone else) on that.

[2021-11-21 22:01] seglo commented on #263
You could trying using the the `consumerPropertiesNoQuotes/adminClientPropertiesNoQuotes` config available in `0.6.8`

https://github.com/lightbend/kafka-lag-exporter/blob/3d8d9e7fe28781e34828cdde4d731a90779bd67e/charts/kafka-lag-exporter/values.yaml#L27

[2021-11-21 22:03] seglo commented on #182
Sorry. You need to be more specific. Logs would be helpful.

https://github.com/lightbend/kafka-lag-exporter#troubleshooting

[2021-11-21 22:03] #182 closed

[2021-11-22 12:06] jeqo commented on #270
@seglo thanks for the heads up! Unfortunately, it's not fixing the issue:

[code]
(same as https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8267599)

[code]

[2021-11-22 14:51] seglo opened #286 "Update to Java 11"

[2021-11-22 14:52] seglo commented on #270
Ok. I created a ticket for Java 11.  Maybe that will help. https://github.com/lightbend/kafka-lag-exporter/issues/286

[2021-11-22 23:55] jeqo commented on #286
Thanks @seglo for tracking this!
Wondering if targetting jdk17, as next LTS, would be a better alternative in the long term. Though not sure about the impact around scala deps, etc.

[2021-11-25 03:00] mogggggg opened #287 "ARM support"
Hey there,
This is a great tool, we're looking at switching to it from `kafka-exporter`. One thing that would be awesome to have is a multi-arch image so we can have ARM support

[2021-11-29 15:29] chromy96 opened #288 "Running in Openshift - unable to create new native threads"
**Describe the bug**
Running Kafka Lag Exporter in Openshift against a Kafka cluster with more than 1000 topics, we're hitting the limit of PIDs allowed by the Openshift cluster (set at 2048)

The exporter stops with the following error:
[code]
I've monitored the number of threads the kafka lag exporter spins up with `ps -o thcount <pid>` and it confirmed that the application spins over 2000 befor

[2021-12-01 06:38] andypp opened #290 "Lags not reported for topics with no active member"
**Describe the bug**
As per #66, consumer groups with no active members also export the lags for all the topics. However in case where a group consumes from multiple topics and it has active members in only some topic, no metrics are reported for the topics without active member.

when group has no active members
[code]

when group has some active members
[code]

**To Reproduce**
application.conf

[2021-12-09 15:22] kchaoued opened #291 "kafla-lag-exporter 0.6.7 error"

[2021-12-09 15:22] #291 closed

[2021-12-09 15:30] kchaoued opened #292 "Kafka-lag-exporter 0.6.7 error with Kafka 1.0.1"
Hello,

I face issue with kafla lag exporter.
I use Kafka lag exporter 0.6.7 with kafka 1.0.0 on HDP 265

-------------------
ERROR c.l.k.ConsumerGroupCollector$ akka://kafka-lag-exporter/user/consumer-group-collector-XXXXX - Supervisor RestartSupervisor saw failure: A failure occurred while retrieving offsets. Shutting down. java.lang.Exception: A failure occurred while retrieving offsets. Shutti

[2021-12-16 10:17] plakat commented on #292
I see the same problem "Caused by: java.util.NoSuchElementException: Future.filter predicate is not satisfied" with Kafka 3.0.0 and kafka-lag-exporter 0.6.8, but this problem exists since at least 0.6.0. To me it looks a bit like at concurrency problem or maybe a memory problem: it doesn't happen on our small playground cluster with just a few topics, but every other environment shows this same er

[2021-12-19 10:10] tamiraviv opened #300 "Log4j vulnerability - CVE-2021-44228, CVE-2021-45046, CVE-2021-4104"
Can you tell me if the latest version affected by those CVEs?
And if so, when are you going to release a security patch for this project?

Thanks!

[2021-12-20 15:17] seglo commented on #300
This project doesn't depend or have any transitive dependencies on log4j.

[2021-12-20 15:17] #300 closed

[2021-12-21 23:37] youssefbouzaine opened #303 "Unable to create external metric for kafka lag exporter"
I'm actually using prometheus-adapter to create an external metric using kafka-lag-exporter

but i m getting an error on my adapter
`periodic_metric_lister.go:60] unable to update list of all metrics: unable to fetch metrics for query "{__name__=~\"^kafka_consumergroup_group_lag$\"}": bad_response: invalid character '#' looking for beginning of value`

So i m not able to generate my external metri

[2021-12-22 11:49] vutkin opened #304 "log4j cve-2021-44228 vulnerability"
Hi All,

I wonder if you guys have heard about this vulnerability https://www.randori.com/blog/cve-2021-44228/ affecting log4j v1 and v2.

any thoughts?

Thanks!

[2021-12-22 12:14] vutkin opened #305 "Release notes for v0.6.8"
Hi All,

could you please help me find release notes for release v0.6.8?

TIA.

[2021-12-22 13:18] DanMelman commented on #304
https://github.com/lightbend/kafka-lag-exporter/issues/300

[2021-12-23 12:23] #304 closed

[2021-12-23 12:25] vutkin commented on #305
@seglo could you please help me?

[2021-12-23 15:49] seglo commented on #305
Hi @vutkin. I didn't create a changelog for this release like I have done in the past. Creating the list was a labour intensive process that I hadn't automated yet and since this release was mostly library updates it didn't seem worth it.

Here's a list of the commits that are in `0.6.8`.  I hope that helps!

[code]

[2021-12-28 11:31] saminahbab opened #307 "404 not found error when running the helm chart with strimzi watching enabled"
**Describe the bug**
When I deploy the helm manifest with the following command,

[code]

The error in the logging shows that there is a 404 not Found exception that stops the monitoring:

[code]
**Environment**
 - Version
  k3d in my local machine
 - Version of Apache Kafka cluster
 strimzi kafka operator 0.27.0
 - Run with Helm or Standalone
helm
**Additional context**
Add any other context abou

[2022-01-04 12:42] andreminelli commented on #265
BTW, maybe old client_ids, returning NaN, are being kept? The image below shows client ids from a single partition of a topic, and on that time we had 5 client processess "connected" to this topic.
(The green and yellow lines are returning NaN)

![image](https://user-images.githubusercontent.com/7632747/148060575-100595a5-8afc-4999-b646-1de49a1ec02f.png)

[2022-01-05 03:50] locmai commented on #265
@andreminelli one of our work around is query with something like this:

[code]
So all of the NaN value will got dropped with `>0`. We still got weird results with the dev environments caused by too few points turned into NaN. The productions' graphs look great to us.

[2022-01-05 11:37] andreminelli commented on #265
Thanks, @locmai .
One point I haven't noted is that we use the kafka_consumergroup_group_max_lag_seconds metric, which seems to be affected by any topic having kafka_consumergroup_group_lag with NaN, and not kafka_consumergroup_group_lag directly...

I think my report is still related to this issue though.

[2022-01-06 11:45] pdelormekpler commented on #263
I have the same issue on my side. I tried to use the:

[code]

And calling the exporter from the shell with env variables set prior to the call.
[code]

Whereas if I put the variable in the config file directly it is working perfectly. Thanks for your help.

[2022-01-10 08:32] kbss27 opened #308 "Can not get any active consumer group metrics"
**Describe the bug**
I installed kafka-lag-exporter with standalone.
when I run:
[code]

I can not get any topics and offset info about consumer group.

**To Reproduce**
configuration:
[code]

full log:
[code]

**Environment**
 - Version: kafka-lag-exporter-0.6.8
 - Version of Apache Kafka cluster: 2.5.0 (kafka_2.12-2.5.0)
 - Run with Helm or Standalone: standlaone

**Additional context**
Thanks y

[2022-01-12 07:51] JosonQian commented on #308
hi，
What about your solution, I got the request that also encountered the same problem, but I couldn't get the monitoring value of kafka_consumergroup_group_max_lag_second, my kafka version is kafka_2.11-0.10.1.1, because my version is too low,？and I still have other errors
Caused by: org.apache.kafka.common.errors.UnsupportedVersionException: The broker only supports OffsetFetchRequest v1, but we

[2022-01-13 03:34] javabrett commented on #263
This PR https://github.com/Dabz/ccloudexporter/pull/97/files shows a substitution (and associated quoting) approach that worked for me.

[2022-01-20 06:31] rubenluengas commented on #288
Just increase the maximum pid number size in openshift (cluster restart required)

[2022-01-25 20:13] #305 closed

[2022-01-31 23:49] samling opened #314 "Helm chart repository index.yaml is missing"
**Describe the bug**
Attempting to do a `helm repo update` returns a 404 for the following url: https://lightbend.github.io/kafka-lag-exporter/repo/index.yaml

**To Reproduce**
`helm repo add kafka-lag-exporter https://lightbend.github.io/kafka-lag-exporter/repo/`
`helm repo update`

[code]

[2022-02-01 07:44] ennru commented on #314
Sorry. This is a consequence of a move of this repository.
Please use https://seanglover.com/kafka-lag-exporter/repo/index.yaml going forward.
We'll need to check if we can make GitHub redirect properly for this, as well.

[2022-02-01 09:20] timtebeek commented on #270
As of today this workaround no longer works, [as CentOS Linux 8 is End Of Life](https://www.centos.org/centos-linux-eol/).
There's [a further vault workaround posted here](https://forums.centos.org/viewtopic.php?f=54&t=78708#p330704), but ideally this is fixed at the root.

[2022-02-01 15:08] seglo opened #316 "Kafka Lag Exporter has moved"
Hi,

Lightbend has asked me to assume ownership over the Kafka Lag Exporter project. This project was created by me and with the exception of a few commits has been entirely maintained by me and contributors from outside Lightbend. As mentioned in #314 the migration did break references to existing helm repositories. You can work around this by removing the existing repository and adding it with t

[2022-02-01 16:18] jheinitz opened #317 "How to provide Prometheus Metrics behind https and basic auth?"
Hello,

I came across this interesting project and was able to deploy it to our Kafka monitoring solution using Prometheus and Grafana. However, I would like to secure the access to the metrics provided by the Kafka Lag Exporter by adding some basic auth and use https instead of http. I did not find anything in the docs. Would it be possibe to configure it like this? If not, would it be possible t

[2022-02-08 10:35] gshilo opened #321 "There is no clear documentation on how to connect to a ssl and kerberos enabled Kafka cluster with the helm chart"
**Describe the bug**
There is no clear documentation on how to connect to a ssl and kerberos enabled Kafka cluster with the helm chart.

**To Reproduce**
I am sorry, but I cannot elaborate the actual values.yaml file I used. Please see the additional context for details.

**Environment**
 - Version - 0.6.8
 - Version of Apache Kafka cluster - 2.5.0.7 (By Cloudera)
 - Run with Helm or Standalone -

[2022-02-23 10:20] vutkin opened #323 "Is it possible to set logs in json format?"
Hi @seglo , is it possible to set logs in json format now? It's more convenient for k8s instead of using plain logs

**Environment**
 - Version: 0.6.8
 - Version of Apache Kafka cluster: any
 - Run with Helm or Standalone: helm

Some examples:
* https://mathieularose.com/logback-json
* https://www.baeldung.com/java-log-json-output

[2022-03-03 11:05] saminahbab opened #324 "No matches for kind "ClusterRoleBinding""
Hi [@seglo, Thanks for taking over the repo, if this monitoring for kafka works, it would really be exactly what I am looking for. I am still getting this error that I got before the repo was forked:

[code]

I think from what I remember, if you want strimzi watchers, setting the service account is necesary.
But I thought I would post this as I feel it is a bug

[2022-03-03 11:08] saminahbab commented on #324
Though I am just thinking, should it be `rbac.authorization.k8s.io/v1` and not `rbac.authorization.k8s.io/v1beta1`?

[2022-03-03 12:32] saminahbab commented on #324
please note PR here https://github.com/seglo/kafka-lag-exporter/pull/325 to fix.

[2022-03-03 16:33] ofiry-tm commented on #182
Hi, a little late, but here are the logs:

[code]

I can tell you that its not a communication issue because i checked that i have telnet from the exporter to each of the kafka brokers (port 9094)

[2022-03-03 16:35] ofiryy commented on #182
Hi @seglo , a little late, but here are the logs:

[code]

I can tell you that its not a communication issue because i checked that i have telnet from the exporter to each of the kafka brokers (port 9094)

[2022-03-03 18:04] ofiryy commented on #182
found the root cause:
I did not configured the kafka-lag-exporter properly:
Adding this:

[code]

solved the issue

[2022-03-06 16:03] saminahbab commented on #307
Closed: user error. Was deployed in wrong namespace, hence 404 errors.

[2022-03-06 16:03] #307 closed

[2022-03-10 05:09] sanjaygarde commented on #98
When I exec into the pod, I see application.conf as this:

kafka-lag-exporter {
  port = 8000
  poll-interval = 30 seconds
  lookup-table-size = 60
  client-group-id = "kafkalagexporter"
  kafka-client-timeout = 10 seconds
  clusters = [
    {
      name = "lkc-0xr722"
      bootstrap-brokers = "xxx"
      consumer-properties = {
        sasl = "map[jaas:map[config:org.apache.kafka.common.security

[2022-03-10 18:23] panthdesai18 opened #330 "Supervisor RestartSupervisor saw failure [122]: Failed to construct kafka consumer org.apache.kafka.common.KafkaException: Failed to construct kafka consumer"
I have concisely describe the issue in the comment below:

[2022-03-10 20:10] sanjaygarde commented on #98
I was able to fix this issue by fixing the configmap.

[2022-03-15 00:37] panthdesai18 commented on #330
Here's my config map:
[code]
It brings me the error of **Caused by: java.lang.IllegalArgumentException: No serviceName defined in either JAAS or Kafka config**
Even tho I add the config of sasl.jaas.config in consumer properties, it keeps prompting the same issue

[2022-03-15 18:42] panthdesai18 commented on #321
Hey, did this get to work by any means? I am also stuck having the same issue with SASL mechanism as SCRAM-SHA-512

[2022-03-21 10:05] pkleindl commented on #164
I have it working with Confluent Cloud, for me the main reason behind the timeouts was the large number of consumer-groups (50K due to some other circumstances).
After applying a blacklist for the "wrong" consumer groups it is running fine now.

It was also highly irritating that the timeout is not configured at the client level but at the top level of the configuration
kafka-lag-exporter {
  repo

[2022-03-23 18:51] jeqo commented on #270
Haven't tested it, but seems like #297 already solves this?

[2022-03-23 19:13] tringuyen-yw opened #335 "Helm URL with seanglover.com blocked by firewall"
**Describe the bug**
Issue https://github.com/seglo/kafka-lag-exporter/issues/316 mentioned the helm repo URL is changed:
- from https://lightbend.github.io/kafka-lag-exporter/repo (in v0.6.7)
- to https://seanglover.com/kafka-lag-exporter/repo/ (in v0.6.8)

We have firewall rules that restrict the outgoing request from the Kubernetes cluster. The domain `seanglover.com` is not allowed. As such wh

[2022-03-26 03:06] seglo commented on #335
Hi Tri. You should be able to substitute the host with seglo.github.io . LMK if that doesn't work.

[2022-03-29 15:57] barisik opened #339 "imagePullSecrets should be at Pod level"
imagePullSecrets should be at Pod level, not container

[2022-03-30 19:48] tringuyen-yw commented on #335
@seglo Still failed when replacing `seanglover.com` by `seglo.github.io`

However, this time, this could be our networking rules not allowing correctly `github.io`. Will keep you posted

[code]

[2022-03-30 22:27] #330 closed

[2022-04-02 15:10] seglo commented on #335
I see. Unfortunately I don't see a way to workaround this other than creating a separate GitHub org just for `kafka-lag-exporter`. An alternative to using the repository would be to download the chart and host it yourself either in an internal repository, or just reference the chart tarball directly.

[2022-04-02 17:35] #339 closed

[2022-04-02 17:39] tringuyen-yw commented on #335
Would it be acceptable to stop the redirection of the DNS records from domain `seglo.github.io` to domain `seanglover.com` ?

[2022-04-03 14:14] seglo commented on #316
I removed the reference to seanglover.com so that the helm repository can be accessed using `seglo.github.io`.

[2022-04-03 14:16] seglo commented on #335
@tringuyen-yw I moved my website to another organization. You can now reference the chart repository with `seglo.github.io`.

[2022-04-03 14:16] #335 closed

[2022-04-04 13:10] seglo commented on #270
I'll be cutting a release shortly once I sort out the release process. Thanks for your patience.

[2022-04-05 08:18] chromy96 commented on #316
Hi @seglo
How about docker images? Will these continue to be available under `lightbend/kafka-lag-exporter` or is there a plan to change the docker repo as well?

[2022-04-05 12:21] arnoldyahad commented on #106
hey guys,
i've suffered from the same issue.
using kafka-lag-exporter 0.6.4 and 0.6.8 (latest available at the moment)
kafka is on version 2.5.0

issue: kafka-lag-exporter stopped providing lag metrics.

using `docker logs` command, i've seen this:
[code]
and this:
[code]

by reading the `server.log` on one of the kafka broker, i've noticed this error:
[code]
looking at the source code of the exce

[2022-04-06 08:51] dcharbonnier commented on #307
@saminahbab got the same issue, the namespace should be the one of the operator or the one of the kafka cluster ?

[2022-04-06 09:11] dcharbonnier opened #349 "watching strimzi v1alpha1 current version is v1beta2"
The watcher is using v1alpha1 but current version is v1beta2
https://github.com/strimzi/strimzi-kafka-operator/releases/tag/0.23.0

[2022-04-06 14:11] doryer opened #350 "Helm chart repository not found"
Getting not found error 404 issue while trying to reach https://seglo.github.io/kafka-lag-exporter/repo/ with Helm
Please take care

[2022-04-06 14:18] doryer commented on #316
The repoistory https://seglo.github.io/kafka-lag-exporter/repo/ is not exist.
Can you take a look?

[2022-04-06 14:22] seglo commented on #350
@doryer I just checked and it seems ok for me:

[code]

[2022-04-06 14:23] seglo commented on #350
Note that helm actually downloads the chart index yaml fom https://seglo.github.io/kafka-lag-exporter/repo/index.yaml

[2022-04-07 01:45] #350 closed

[2022-04-07 01:46] seglo commented on #270
Kafka Lag Exporter v0.7.0 has been released. Please let me know how it goes!

[2022-04-07 01:47] seglo commented on #288
This can be resolved with kubelet/platform configuration.

[2022-04-07 01:47] #288 closed

[2022-04-07 01:50] seglo commented on #323
Sure. I'll look into this eventually. Feel free to open a PR in the meantime!

Ideally we can make the library available on the classpath and override it with helm chart config or logback config if running standalone directly.

[2022-04-07 01:54] seglo commented on #321
I'm sorry, but I lack the environment to set this up and experience to verify its correctness. I recently added minikube integration tests. If you can setup a reproducer integration test by configuring strimzi and your best attempt at kafka lag exporter config I can look into it in more detail.

[2022-04-07 01:55] seglo commented on #324
Fixed in #325

[2022-04-07 01:55] #324 closed

[2022-04-07 01:56] seglo commented on #314
See #316 or README for updated repo URL.

[2022-04-07 01:56] #314 closed

[2022-04-07 01:59] seglo commented on #308
@kbss27 Unfortunately this is not enough information to go on. The logs indicate consumer groups are found. Do your apps commit offsets back to Kafka?

[2022-04-07 02:07] seglo commented on #164
Can you elaborate on what you mean? The `kafka-client-timeout` configuration is used for `request.timeout.ms` Kafka consumer and admin client config. If you increase this timeout were you not able to eventually retrieve all your groups.

Depending on your partition config, 50K groups is going to generate _a lot_ of metrics. It would also create a huge amount of points in the interpolation table fo

[2022-04-07 07:42] dcharbonnier opened #352 "Multilayer docker build"
It would be easier for a developer to simply checkout the code and do a `docker build .` to get a release image
`docker build --target development . -t kle-dev && docker run --rm kle-dev test` to run the tests

[2022-04-07 09:13] pkleindl commented on #164
@seglo By irritating I meant that the timeout configuration is a separate configuration value and not simply on the client level.

The 50K were mostly due to another error, so I did not try out how high the timeout would have to be for it to work.
With the whitelisting everything was fine.
Thanks for the information, good to know for the future :-)

[2022-04-07 12:52] seglo commented on #164
@pkleindl Got it. I can see how that would be confusing if you're expecting to define all the client properties yourself. I can look into making the `kafka-client-timeout` app config optional so it won't overwrite client config if it's provided and `kafka-client-timeout` is not.

I am curious about the large number of consumer groups though. Is this a consequence of using confluent cloud and possi

[2022-04-07 12:55] seglo commented on #352
The thing is part of the `Dockerfile` is derived by a build plugin (`sbt-native-packager`). It does some trickery with app vs libraries to optimize the base layers. Even if that wasn't the case though you would still need to build the app to include it in the `Dockerfile` when its built, so you need to use the build system either way.

If you want to produce a local docker image you can do so with

[2022-04-07 12:56] seglo commented on #352
Also, after you `sbt docker:publishLocal` you can look at `./target/docker/` to see the `Dockerfile` and the compiled app structure that's copied into the image.

[2022-04-07 13:03] dcharbonnier commented on #352
too complicated for me :-)

[2022-04-07 13:03] #352 closed

[2022-04-07 13:49] dcharbonnier commented on #352
I think, one that develop inside docker environment, ci/cd inside containers and send containers to production, the same container with different layers to keep it nice and clean. But I don't think people that do it on a more oldschool way doesn't deserve the "title" of developer, I'm sure you're one and this project is a good project.

[2022-04-07 14:15] seglo commented on #352
I was only kidding! :smiley:

Can you explain the use case you had in mind? Are you saying it would be nice to have access to the latest development build of kafka lag exporter (i.e. built from `master` branch)? I was toying with the idea of building on merge to master and pushing it as a `dev` or `latest` tag to dockerhub. Then if I understand your use case correctly, you could reference it in yo

[2022-04-07 21:20] panthdesai18 opened #353 "Kafka Lag Exporter metric isn't showing correct values"
Kafka Lag Exporter is up and running on an MSK cluster but kafka_consumergroup_group_lag_seconds metric bounces between 0-30 seconds with very little load on the service. The custom metric calculates the lag based on polling each message and then subtracting it with the current time to calculate the lag.

The kafka lag exporter is bringing up a lag of 30 seconds while the custom metric shows only

[2022-04-07 23:45] seglo commented on #353
Hi @panthdesai18. It's difficult to say without more information. Can you provide what's mentioned in the create new bug issue template?

[2022-04-08 04:53] panthdesai18 commented on #353
Sure

To reproduce:
`Values:
    Clusters:
      Admin Client Properties:
        sasl.mechanism:     SCRAM-SHA-512
        security.protocol:  SASL_SSL
      Bootstrap Brokers:    *3 broker
      Consumer Properties:
        sasl.mechanism:     SCRAM-SHA-512
        security.protocol:  SASL_SSL
      Labels:
        Location:  oregon
        Zone:      us-west-2
    Metric Whitelist:
      .*

[2022-04-21 18:13] nicholascapo opened #358 "CVE-2022-21449: Psychic Signatures in Java"
As detailed in [0][1] Java version 17.0.2 is vulnerable.

The fix [2] was included in jdk17 release `jdk-17.0.3+6` [3],

I think this image is built with a base image of `redhat/ubi8` [4] which appears to have a fixed version available from `yum` [5].
I believe that rebuilding this image from source will fix the issue.

---

[0] https://ubuntu.com/security/CVE-2022-21449
[1] https://neilmadden.blo

[2022-04-21 20:09] slachiewicz commented on #358
[code]

[2022-04-21 20:54] nicholascapo commented on #358
@slachiewicz What image was that?

I see vulnerable java versions for both "latest" images:

### lightbend
[code]

### seglo
[code]

[2022-04-21 21:03] slachiewicz commented on #358
It's from fresh docker.io/redhat/ubi8:latest plus installed default version of  java-17-openjdk-headless
solution from [nicholascapo](https://github.com/nicholascapo) fixes issue

[2022-04-22 00:55] #358 closed

[2022-04-22 01:16] seglo commented on #358
This should be resolved in `0.7.1`

[code]

[2022-04-27 09:08] hjoshi84 opened #361 "empty resultset for lag metrices."
@seglo,

I have installed kafka-lag-exporter 0.7.1. the operator is confluent and the platform is amazon EKS.  I am getting an empty resultset in Prometheus  for all lag matrices and I am getting below error in the log

2022-04-27 08:22:33,171 INFO  o.a.kafka.common.utils.AppInfoParser akka://kafka-lag-exporter/user/consumer-group-collector-confluent - Kafka version: 2.5.0
2022-04-27 08:22:33,171

[2022-04-30 19:02] naveen8384 commented on #133
I also faced the same issue, changing the filter condition from **app_kubernetes_io_instance** to **container** worked.

[code]

[2022-05-11 10:40] kentjarvis opened #363 "The broker only supports OffsetFetchRequest v1, but we need v2 or newer to request all topic partitions."
Hello,

I'm trying to monitor kafka lag on prometheus grafana.
I have kafka 0.10 version but this version can not suitable for kafka lag exporter. I'm getting following error when i try to execute kafka lag exporter.

I can't upgrade my Kafka version for several reason. Is there any way to find work around or suitable kafka lag exporter ? @seglo

(ConsumerLagExporter.java:233) : Error trying to ex

[2022-05-14 15:01] seglo commented on #363
That is an ancient version of Kafka (10 years?) I don't think it makes sense to try and support it. Sorry.

[2022-05-14 15:01] #363 closed

[2022-05-19 05:27] hjoshi84 commented on #182
Hi @ofiryy ,

I am getting the same issue. could please help me with the exact helm command to set these properties.
Thanks in advance.

[2022-05-19 21:55] ofiry-tm commented on #182
try to add to your helm command this args: `--set clusters[0].consumerProperties.security\.protocol="SSL" --set clusters[0].adminClientProperties.security\.protocol="SSL"` (i prefer just to put them in the values.yaml)

[2022-05-27 18:08] dsindatry commented on #361
I am too seeing the same issue after upgrading confluent kafka to 6.2.3

[2022-06-02 07:39] sdahlbac commented on #321
It is not exactly the same thing but I struggled quite some time with SASL_SSL, sasl plain with a cert-manager created certificate:

[code]

or as terraform
[code]

hope this helps

[2022-07-05 08:23] seruman commented on #197
Hi @seglo,
Since there were new releases, I tried to re-produce the issue with the 0.7.1 and I can confirm it is still re-producable even after multiple poll intervals.

[2022-07-12 08:30] aslobodskoy opened #373 "Memory leak"
**Describe the bug**
Looks like memory leak is present.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/22095334/178446344-cfb2041f-b40f-4a3d-a162-05694168f053.png">

**Environment**
 - seglo/kafka-lag-exporter:0.7.1
 - Kafka 2.5.0
 - Run with Helm

[2022-07-12 12:42] ngpadp12 commented on #106
Hello @seglo ,

I am getting an issue similar to this one, where it suggests Future.filter predicate is not satisfied.

When I enable the debug logs, I get log messages like

[code]

and

[code]

I am not able to fetch lag metrics for the clusters where I see this issue.

I must point out that this issue happens only for a couple of our Kafka clusters, while it works well with some of our other cl

[2022-07-21 08:38] cobolbaby commented on #177
+1 with same problem 0.7.1

[2022-08-05 12:12] jchipmunk opened #376 "High vulnerabilities"
**Describe the bug**
I found some high vulnerabilities in kafka-lag-exporter Docker image for version 0.7.1:

|Severity|VulnerabilityID|Package Name|Package Version|Fixed Versions|
| ------ | ------------- | ---------- | ------------- | ------------ |
|High|CVE-2022-0778|openssl-libs|1.1.1k-5.el8_5|[">= 1:1.1.1k-6.el8_5"]|
|High|CVE-2018-25032|zlib|1.2.11-17.el8|[">= 0:1.2.11-18.el8_5"]|
|High|CVE

[2022-08-19 14:55] erikgb commented on #376
Maybe enable [Dependabot](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates) on this project?

[2022-08-27 14:52] seglo commented on #376
Thanks. I use Scala Steward for Scala/JVM deps, but I've enabled dependabot for the Docker image. I don't have much experience with it so I'll need to wait and see if it is configured correctly. The `Dockerfile` is dynamically generated so I'm skeptical it can make PRs, but maybe it will create the appropriate notifications.

[2022-08-27 15:25] #376 closed

[2022-08-27 16:09] seglo commented on #353
Unfortunately there's not much I can do without a reproducer test. The estimation depends entirely on lookup table size and throughput. Less throughput or small lookup tables can result in large swings in predictions, typically because a value is extrapolated instead of interpolated.

[2022-08-27 16:09] #353 closed

[2022-08-27 16:10] #286 closed

[2022-08-27 16:11] #63 closed

[2022-08-27 16:12] #74 closed

[2022-08-27 16:12] #84 closed

[2022-08-27 16:15] seglo commented on #376
Updated a pile of deps and released v0.7.2

[2022-08-27 16:16] seglo commented on #361
I have no way of reproducing this.

[2022-08-27 16:16] #361 closed

[2022-08-28 20:27] piif opened #386 "ConsumerGroupCollector crash loops when there are several groups to scan"
**Describe the bug**
When launching exporter with a whitelist specifying only one consumer group, everything works fine (thus not a network / authent issue).
But with a larger whitelist, a timeout error is raised and connection is retried every 10 seconds

**To Reproduce**
See attached [kafka-lag-exporter.startup.log](https://github.com/seglo/kafka-lag-exporter/files/9440398/kafka-lag-exporter.sta

[2022-09-04 22:59] theanotherwise commented on #290
any idea? i see same problem, metrics are empty

[2022-09-07 08:30] fernandomora commented on #386
I have same problem with kafka-lag-exporter:0.7.2, it works with kafka-lag-exporter:0.7.1
There should be related with some change in the latest release

[2022-09-08 05:59] guillaume-roland-cd commented on #386
Seems it's related to https://github.com/seglo/kafka-lag-exporter/commit/fede42a19b1e093534bf269e996a31df7973e357.
I tried to build a new image with the previous version of the kafka client (2.5.0) and the issue disappeared.

[2022-09-08 20:43] piif commented on #386
Hello,
 I confirm that rollback to 0.7.1 solved the issue in my case, using brokers on 6.0.1 and 7.2.1 version

Thanks !

[2022-09-11 14:44] vijaybiradar opened #393 "kafka-lag-exporter stopped providing lag metrics."
**issue: kafka-lag-exporter stopped providing lag metrics.**

using kafka-lag-exporter  (Image:          lightbend/kafka-lag-exporter:0.5.5)
Kafka version: 2.3.0

**Able to  Collect offsets
while retrieving offsets its failing PFB error logs**

**Environment**

Kafka version: 2.3.0

lightbend/kafka-lag-exporter:0.5.5 Run with Helm (but kafka brokers are external to kubernetes cluster they are in E

[2022-09-11 18:33] seglo opened #395 "Redis minikube tests"

[2022-09-11 18:34] seglo opened #396 "DRY up LookupTableSpec tests"
https://github.com/seglo/kafka-lag-exporter/pull/333#discussion_r835809163

[2022-09-11 18:54] seglo commented on #386
I'll be honest, I don't have a lot of time to troubleshoot this. If you can create a reproducer in the integration tests that would help. If all else fails I'm open to downgrading the client.

[2022-09-11 18:55] #308 closed

[2022-09-13 10:16] sikangliu commented on #361
I encountered the same problem with 0.7.3. Is there any solution?

[2022-09-13 13:29] hjoshi84 commented on #361
@sikangliu ,

Can you please share your configuration (.yaml) file and environments details ?

[2022-09-14 15:39] markper commented on #393
I had the same issue more or less, I've also seen the "A failure occurred while retrieving offsets. Shutting down." message, my problems began after upgrading the AWS EKS cluster Kubernetes version to 1.23.

in short, the solution I've found is [installing the kafka-partition-lags locally via docker](https://github.com/seglo/kafka-lag-exporter#run-as-docker-image) and using my configuration of the

[2022-09-14 16:01] guillaume-roland-cd commented on #393
Seems to be a duplicate of https://github.com/seglo/kafka-lag-exporter/issues/386
How many topics and partitions do you have?

[2022-09-15 11:05] vijaybiradar commented on #393
@guillaume-roland-cd

Total topics --->61
Total partitions -->2264

Environment

using kafka-lag-exporter (Image: lightbend/kafka-lag-exporter:0.5.5)
Kafka version: 2.3.0

Able to Collect offsets
while retrieving offsets its failing

Kafka version: 2.3.0

lightbend/kafka-lag-exporter:0.5.5 Run with Helm (but kafka brokers are external to kubernetes cluster there are in Ec2 instance)

working fine

[2022-10-04 01:31] alok-kumarggn opened #399 "Docker container restarting"
Hi,

Have run the docker image (v0.7.0) to scrape the metrics. It was working fine. Then tried to upgraded the ver to 0.8.0 (with restart as unless stopped). Now the container is restarting again and again. Have removed all the images and containers, still the container is restarting with all the versions.

What should be the reason?

Thanks

[2022-10-04 10:32] mbaechler opened #400 "tgz release file does not contain the binary"
See files size, tgz is 7.37KB and zip is 74.7MB

![image](https://user-images.githubusercontent.com/708318/193797669-8500349c-2c6c-4c77-9aa7-238cf01c5bd9.png)

[2022-10-06 22:36] chenmx00 opened #404 "All consumergroups related metrics have value NaN"
**Describe the bug**
All consumergroups related metrics have value NaN**To Reproduce**. A examplem would be
[code]
Provide logs and application configuration.
See the [Troubleshooting](https://github.com/seglo/kafka-lag-exporter#troubleshooting) section of the `README` for instructions on how to enable `DEBUG` logging.

Logs with DEBUG turned on
[code]

**Environment**
 - 0.8.0(Also tested in the

[2022-10-07 08:23] rsommer commented on #393
We are seeing the same error as given above (with `Caused by: java.util.NoSuchElementException: Future.filter predicate is not satisfied`) since updating to kafka 3.3 and kafka-lag-exporter 0.8.0. We had no problems before, using kafka 3.2 and kafka-lag-exporter 0.6.5. kafka-lag-exporter is running in standalone mode.

[2022-10-07 09:19] piif commented on #290
Hi,
 I just got the same issue.
I can't help on code, but let me know if there are some tests to do to help analysis

[2022-10-07 09:27] gbuirel opened #405 "Alternative to Docker Hub"
**Describe the bug**
Current image is stored on Docker Hub and as such, pulling it often results in hitting DockerHub  Image Pull Rate Limit : TOOMANYREQUESTS: You have reached your pull rate limit.

**To Reproduce**
Use Kafka Lag Exporter in any environment needing more than one occasional pull.

**Environment**
 - 0.8.0 Version of KLE Helm Chart
 - GKE Cluster on Kubernetes 1.24
 - Run with Helm

[2022-10-07 10:26] rsommer commented on #393
I did a test build with updated kafka dependencies to 3.3.1, but the error still persists.
Resulting kafka dependencies in the snapshot release after bumping kafka to 3.3.1:
[code]

[2022-10-08 05:23] alok-kumarggn commented on #399
from logs, understand that somehow the container was not able to read the application.conf file. Deleted and recreated the file makes it working again. Below is the logs.
-----------------------------------------------------------------
Exception in thread "main" com.typesafe.config.ConfigException$IO: /opt/docker/conf/application.conf: java.io.FileNotFoundException: /opt/docker/conf/application.c

[2022-10-08 05:23] #399 closed

[2022-10-09 09:06] vishnukv-facets opened #406 "Kafka lag metrics are not available for scraping"
**Describe the bug**
Hey guy, i did a simple installation of lag exporter with helm chart as my kafka cluster is hosted inside kubernetes. After the pod is in running status when i hit the kafka lag exporter url /metrics . I don't see the metrics available for scrapping at all.
I have tried whitelisting particular metric, that also was not available

As you can see below all the kafka related metr

[2022-10-12 22:55] feiniao0308 commented on #386
Run into the same issue in latest version v0.8.0. Rollback to 0.7.1 works.

[2022-10-15 21:18] seglo commented on #400
The tgz is a Helm chart tarball that gets served by the Helm repository.

https://seglo.github.io/kafka-lag-exporter/repo/index.yaml

[2022-10-15 21:18] #400 closed

[2022-10-15 21:21] seglo commented on #406
Install the chart with DEBUG logging on (see readme for instructions) and see if anything obvious comes up. If you want to report all topics then defining your own white list isn't necessary.

[2022-10-15 21:23] seglo commented on #404
Doesn't look like you have any Kafka managed consumer groups, or at least none are detected by kafka lag exporter.

[2022-10-15 21:30] seglo commented on #405
IIUC the pull limit is applied to pulling user accounts, not the repo?

[2022-10-15 21:57] seglo commented on #393
See if the new retries introduced in #403 help with this issue. I've set the chart default value to 2 retries.

[2022-10-17 13:52] gbuirel commented on #405
I am sorry but I don't understand your answer.

I know that this is due to DockerHub's  "new" (it's been a year I think now?)  policy on pulling images from one user.

[2022-10-17 14:17] gbuirel opened #408 "Use an existing Kubernetes Service Account"
It is my understanding (after reading https://github.com/seglo/kafka-lag-exporter/issues/53 ) that we can either
- choose to use the default SA for the deployment
- create one with a name either generated or that we choose with the nameOverride parameter.

Is it possible to simply add a parameter to use an existing Service Account, without trying to create one?

[2022-10-17 19:19] vishnukv-facets commented on #406
Installed the chart with debug mode and attaching the log file. I didn't find any sort of errors.
[log.txt](https://github.com/seglo/kafka-lag-exporter/files/9803827/log.txt)

[2022-10-18 08:51] leopaul36 commented on #307
I also had the same issue, tried on both Strimzi operator namespace and Kafka clusters namespaces...

Will update if I sort it out.

[2022-10-21 11:29] Regmir opened #415 "High vulnerabilities"
**Describe the bug**
I found some high vulnerabilities in kafka-lag-exporter Docker image for version 0.8.1:

Severity | VulnerabilityID | Package Name | Package Version | Fixed Versions
-- | -- | -- | -- | --
High | CVE-2022-42003 | com.fasterxml.jackson.core:jackson-databind| 2.13.3 | [2.14.0-rc1]
High | CVE-2022-34917 | org.apache.kafka:kafka-clients | 3.2.2 | ["2.8.2", "3.0.2", "3.1.2", "3.2.3

[2022-10-25 08:22] rsommer commented on #393
Just installed kafka-lag-exporter 0.8.1 and we are still seeing the same errors - the service keeps crashing.

[2022-10-27 10:26] sverrehu opened #417 "Permission denied on image executable after upgrading OpenShift"
After we upgraded OpenShift, kafka-lag-exporter will no longer start:

[code]

This is because the random-id user does not have execute permission to the executable.

It appears from [a comment in build.sbt](https://github.com/seglo/kafka-lag-exporter/blob/master/build.sbt#L68) that the intention is to follow OpenShift best practices, but the linked document states that files and directories shoul

[2022-10-28 12:42] sverrehu commented on #229
I suggest closing this issue. The base image has been changed (at least) twice since it was reported.

[2022-10-28 12:46] hisabimbola commented on #229
Yes, can be closed. Thanks for the support

[2022-10-28 12:46] #229 closed

[2022-10-28 12:48] sverrehu commented on #270
Is this still an issue, now that the container uses Java 17? I suggest closing it.

[2022-10-28 13:09] sverrehu commented on #192
I suggest closing this issue, as there have been many months without any clarifications to the question.

[2022-10-28 13:14] sverrehu commented on #172
As #63 is now closed, I guess this one may be closed too?

[2022-10-28 15:09] #270 closed

[2022-10-30 20:02] #192 closed

[2022-10-30 20:04] seglo commented on #172
@sverrehu Thanks for reviewing some of these open issues.

Yes. Many of these corner cases spurred ideas for new features, but unfortunately it's not something I can allocate a lot of time to. Everyone's welcome to pick up the work and submit a PR, of course.

[2022-10-30 20:04] #172 closed

[2022-10-30 20:11] seglo commented on #71
Please leave a comment if anyone is interested in picking this up.

[2022-10-30 20:11] #71 closed

[2022-10-30 20:11] seglo commented on #245
Fixed in #246

[2022-10-30 20:11] #245 closed

[2022-10-30 20:14] seglo commented on #249
Appears to happen during shutdown. The stack trace isn't helpful. If anyone can reproduce please create a reproducer PR.

[2022-10-30 20:14] #249 closed

[2022-10-30 20:16] seglo commented on #72
Please leave a comment if anyone is interested in picking this up.

[2022-10-30 20:16] #72 closed

[2022-10-30 20:16] seglo commented on #76
Please leave a comment if anyone is interested in picking this up.

[2022-10-30 20:16] #76 closed

[2022-10-30 20:16] seglo commented on #83
No longer applicable with new release by tag release process.

[2022-10-30 20:16] #83 closed

[2022-10-30 20:17] seglo commented on #99
Please leave a comment if anyone is interested in picking this up.

[2022-10-30 20:17] #99 closed

[2022-10-30 20:17] #123 closed

[2022-10-30 20:17] #138 closed

[2022-10-30 20:19] seglo commented on #164
Redis support as been released. For anyone experience JVM memory constraints you might want to give that a try.

[2022-10-30 20:19] #164 closed

[2022-10-30 20:20] seglo commented on #167
Please leave a comment if anyone is interested in picking this up.

[2022-10-30 20:20] #167 closed

[2022-10-30 20:29] seglo commented on #417
I released `v0.8.2` with your fix.

[2022-10-30 20:29] #417 closed

[2022-10-30 20:30] #179 closed

[2022-10-30 20:30] #180 closed

[2022-10-30 20:33] seglo commented on #193
AFAIK this has been addressed. Please comment (or better yet create a PR) if the issue remains.

[2022-10-30 20:33] #193 closed

[2022-10-30 20:34] seglo commented on #194
Same exception as #106

[2022-10-30 20:34] #194 closed

[2022-10-30 20:34] #195 closed

[2022-10-30 20:36] #235 closed

[2022-10-30 20:38] seglo commented on #237
Addressed in another PR.

[2022-10-30 20:38] #237 closed

[2022-10-30 20:40] seglo commented on #264
Please leave a comment if anyone is interested in picking this up.

[2022-10-30 20:40] #264 closed

[2022-10-30 20:42] seglo commented on #287
Please leave a comment if anyone is interested in picking this up.

[2022-10-30 20:42] #287 closed

[2022-10-30 20:43] seglo commented on #317
AFAIK this is not supported for Prometheus endpoints.

[2022-10-30 20:43] #317 closed

[2022-10-30 20:46] seglo commented on #373
It's possible, but if no one else has reported it since I'm incline to close this.

[2022-10-30 20:46] #373 closed

[2022-10-30 20:48] #303 closed

[2022-10-30 20:49] #395 closed

[2022-10-30 20:50] seglo commented on #393
Hopefully the retries resolved the original issue. @rsommer The issue you're describing is tracked in #106.

[2022-10-30 20:50] #393 closed

[2022-10-30 20:51] seglo commented on #406
Are your consumers committing offsets back to Kafka? Can you see committed offsets using the Kafka bin scripts?

[2022-10-30 20:53] seglo commented on #415
The Kafka lib has been upgraded in `0.8.2`. I can't speak for the rest. Feel free to create another report.

[2022-10-30 20:53] #415 closed

[2022-10-30 20:54] seglo commented on #408
Possibly. Please open a PR.

[2022-10-31 06:23] sverrehu commented on #417
Thank you!

[2022-11-04 03:56] vijaybiradar commented on #393
Added 2 retries ((kafkaRetries: 2))still facing same issue PFB FYR

![image](https://user-images.githubusercontent.com/38376802/199881812-19fccf8a-f39c-4d95-8df3-ef03ab7d0d61.png)

![image](https://user-images.githubusercontent.com/38376802/199882036-bfb0442f-4a5a-4078-8f1d-36a0a6bdb38c.png)

![image](https://user-images.githubusercontent.com/38376802/199881981-2e9480c6-c0da-478d-99cc-82e80d9f644b

[2022-11-09 15:17] mbaechler opened #423 "Produce a embeddable library"
Hi,

I would like to extend Watcher to support my own discovery protocol.
Today, Watcher is a closed list and I extending it with a proprietary protocol doesn't seem a good solution.

The change I propose on lag exporter is:

- split the project in 2 parts:
  - an embeddable lib (containing actors but not the main class, config parsing and so on)
  - main class, conf and wiring
- distribute the li

[2022-11-13 06:12] zhennanf opened #425 "reproducible StackOverflowError"
**Describe the bug**

#249

Met similar stackovervlow error describe by [issue 249 ](https://github.com/seglo/kafka-lag-exporter/issues/249#issue-942056549) in production environment and test environment. The error is triggered about once a week(poll interval is set to 20s) and is reproducible in a higher frequency(e.g. 4-8 hours by most recent test) in another test environment by setting poll int

[2022-11-15 09:05] doxsch opened #427 "Question: Helm chart deplyoment handle secret values"
Hi @seglo

Is there an envisaged way for helm chart deployment to replace sensitive information (such as ssl.keystore.password) in the ConfigMap so that this information does not have to be blank in the configuration map?
I’m thinking of something like envsubst. The configuration file placeholders are replaced before the container starts and then starts from it.

[2022-11-17 13:13] jviallon opened #431 "K8S error when creating pod due to policy restriction"
**Describe the bug**
Docker image seglo/kafka-lag-exporter is not able to run on our kubernetes cluster due to policy restriction.

**To Reproduce**
When pod starts, error reach :
`standard_init_linux.go:228:` exec user process caused: permission denied`

**Solution**
Execution right is missing on /opt/docker/bin/kafka-lag-exporter for other. With this line added it works
RUN chmod +x /opt/docker/

[2022-11-20 06:58] praveenkumar928 opened #432 "Using Kafka Lag exporter in standalone mode is giving the grafana error - Cannot read properties of undefined (reading 'result')"
I have successfully installed the Kafka Lag Exporter in standalone mode on my Linux VM and able to see the metrics also in the browser on the Prometheus default port 8000. but when I have imported the .json template in the git it is giving me the error
Cannot read properties of undefined (reading 'result') on grafana dashboards. none of the queries are working in grafana with data source as a Kafk

[2022-11-29 09:54] doryer commented on #287
@seglo Hey, we're interested in this one as we want to move completely to arm64 arch. would really like to see this happen

[2022-11-29 11:33] doryer opened #434 "Support ARM64 architecture"
As we want to move completely to arm64-based images, I would like for multi-arch images published to use arm64-based image
Thanks

[2022-11-30 19:35] fouadsemaan opened #435 "CVEs found on kafka-lag-exporter image 0.8.2"
CVE-2020-28491 -  jackson-dataformat-cbor - Fixed version: 2.11.4
CVE-2022-43680 - expat - Fixed version: 2.5.0-r0
CVE-2022-42003 - jackson-databind - Fixed version: 2.13.4.1
CVE-2022-42004 - jackson-databind - Fixed version: 2.13.4
CVE-2022-25857 - snakeyaml - Fixed version: 1.31

The above CVEs were marked as HIGH by image scanner.